.block-top
    .left-sidebar
        include _leftMenu
    .block-wrap
        include _breadcrumbs
        .content
            h1 бадминтон
            .foto-gallery.box
                .gallery(style="background-image:url(../img/95.jpg)" data-src='/img/95.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/DSC00944.jpg)" data-src='/img/DSC00944.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/P1060119.jpg)" data-src='/img/P1060119.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/P1070261.jpg)" data-src='/img/P1070261.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/P1080326.jpg)" data-src='/img/P1080326.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/P1080333.jpg)" data-src='/img/P1080333.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/P1234567.jpg)" data-src='/img/P1234567.jpg' data-fancybox="images")
                .gallery(style="background-image:url(../img/P11953197.jpg)" data-src='/img/P11953197.jpg' data-fancybox="images")
            a(href="#") презентация команды
            h3(style='text-align: center') СБОРНАЯ ННГУ ПО БАДМИНТОНУ 2017
            div.box(style="overflow-y:auto;")
                    table
                        thead
                            tr
                                td Фамилия Имя
                                td Звание
                                td Факультет
                        tbody
                            tr
                                td Каргаев Родион
                                td МС 
                                td ИЭП
                                
                            tr 
                                td Камышенков Илья
                                td КМС
                                td ИЭП
                                
                            tr 
                                td Малов Данила
                                td КМС
                                td ФСН
                            tr 
                                td Венедиктов Илья
                                td МС
                                td ФКС
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
            p 
                strong Главный тренер: Гутко Александр Владимирович
            p 
                strong Тренер: Неумоина Светлана Николаевна
            .foto-gallery1.box
                .gallery1(style="background-image:url(../img/Sbornaya.jpg)" data-src='/img/Sbornaya.jpg' data-fancybox="images")
                span сборная ННГУ по бадминтону 2015
            hr