.body-fon
	.body-fon-container
		.body-fon-text
			h1 Услуги
.brend-fon
	.brend-container
		.brend-left
			.logo-brend
				img(src='img/brend0.png', alt='')
			.text
				p
					| Мы предоставляем нашим клиентам технологии для создания прозрачных корпоративных IT инфраструктур нового поколения, путем объефункций обработки, хранения данных и виртуализации в готовое "под ключ" гиперконвергентное решение. Наиболее передовые дата-центры в мире полагаются на веб-масштабируемые облачные технологии Nutanix для поддержки своих критически важных приложений любого масштаба и уровня сложности.
					| Отдел продаж: 
					a(href='#') sales@navicadata.ru
					| Техническая консультация: 
					a(href='#') nutanix-support@navicadata.ru
			.video
				iframe(width='560', height='315', src='https://www.youtube.com/embed/IKdzcwMY950', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
			.text
				h3 Вызовы, стоящие сегодня перед корпоративными IT службами
				p
					| От IT инфраструктур ожидают выполнения все большего объема работы, с повышением темпов при существенном уменьшении затрат. Требуются новые способы быстрого разворачивания бизнес-приложений и ИТ-услуг при снижении общей стоимости владения.
				.text1
					h4 Дорого и сложно
					p.ikon1
						| Приобретение, развертывание, управление и масштабирование инфраструктуры центров обработки данных требуют больших финансовых и временных затрат.
				.text2
					h4 Разбиение IT на изолированные участки
					p.ikon1
						| Построение IT инфраструктур, созданных с помощью раздельных серверов, систем хранения данных и локализованного сетевого доступа, приводит к отсутствию гибкости и требует узкоспециальных знаний.
				.text3
					h4 Нет времени для внедрения инноваций
					p.ikon1
						| Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.
				p
					| Современные IT службы требуют инфраструктуру нового поколения, обеспечивающую гибкость и экономику сопоставимую с публичными облачными сервисами, но с сохранением безопасности и надежности приватных дата-центров.
			.fon-text1
				h3 Что представляет собой гиперконвергентная инфраструктура?
				p.ikon1
					| Гиперконвергентная инфраструктура комбинирует функции обработки и хранения данных внутри физических серверов на базе процессоров x86, объединенных в горизонтально-масштабируемые кластера. За счет этого значительно сокращается потребление электроэнергии и места в ЦОД-ах, так же как нивелируются проблемы традиционных подходов к хранению данных.
				img.img1(src='img/brend_fon.png', alt='')
			.fon-text1
				h3 Упрощение IT инфраструктуры
				p.ikon1
					| Благодаря объединению функций хранения данных и слоя виртуализации в едином решении от Nutanix, устраняется зависимость от устаревших гипервизоров и обеспечивается прозрачность прослойки виртуализации.
					| Интегрированная платформа управления обеспечивает реальное управление инфраструктурой "одним щелчком", включая аналитику и автоматическое устранение сбоев.
				img.img1(src='img/brend_fon1.png', alt='')
			.fon-text
				div
					h3 Включите мобильность приложений
					p.ikon1
						| App Mobility Fabric (AMF) представляет собой набор ключевых технологий, благодаря которым приложения не "запираются" в рамках корпоративной IT платформы, а могут перемещаться вместе с данными между приватными и публичными облачными средами. Такая мобильность позволяет IT руководителям самостоятельно решать, когда и как они будут использовать приватные и публичные облачные инфраструктуры, исходя только из потребностей бизнеса.
				img(src='img/fon-text.png', alt='')
			.fon-text1
				h3 Как мы это делаем
				p.ikon1
					| иперконвергентные решения Nutanix уникальны ввиду использования только веб-масштабируемых технологий и архитектурных подходов, берущих свое начало в крупнейших интернет и облачных компаниях (таких как Google, Facebook и Amazon).
			.text
				.text4
					h4 Дорого и сложно
					p.ikon1
						| Приобретение, развертывание, управление и масштабирование инфраструктуры центров обработки данных требуют больших финансовых и временных затрат.
				.text5
					h4 Разбиение IT на изолированные участки
					p.ikon1
						| Построение IT инфраструктур, созданных с помощью раздельных серверов, систем хранения данных и локализованного сетевого доступа, приводит к отсутствию гибкости и требует узкоспециальных знаний.
				.text6
					h4 Нет времени для внедрения инноваций
					p.ikon1
						| Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.
				.text7
					h4 Нет времени для внедрения инноваций
					p.ikon1
						| Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.
			.fon-text3
				.left
					h3 Преимущества для Вас
					.text8
						h4 Снижение затрат
						p.ikon1
							| Снижение капитальных и эксплуатационных расходов на 40-60%.
					.text9
						h4 Безграничная масштабируемость
						p.ikon1
							| Предсказуемое масштабирование инфраструктуры без ограничений.
					.text10
						h4 Время для ИТ-инноваций
						p.ikon1
							| Бесплатные ИТ-ресурсы с фокусом на ваши важные бизнес-инициативы и настоящие инновации.
				.right
					.text11
						h4 Cамый быстрый ввод в эксплуатацию
						p.ikon1
							| Ввод в промышленную эксплуатацию при покупке, развертывании и управлении инфраструктурой происходит в 8 раз быстрее.
					.text12
						h4 Наименьший расход ресурсов
						p.ikon1
							| Снижение энергопотребления, расходов на охлаждение и занимаемого места в центрах обработки данных до 90%, с применением форм-фактора 2U.
			.fon-text4
				.left
					h3 Любые нагрузки любых масштабов
					p Виртуализация рабочих мест VMware Horizon w/ View
					p Hadoop
					p VMware vRealize
					p Унифицированные коммуникации
					p Microsoft Exchange
					p Oracle
					p SAP
				.right
					p Виртуализация рабочих мест Citrix XenDesktop и XenApp
					p Splunk
					p Microsoft Sharepoint
					p Microsoft SQL Server
					p Приватные облачные решения Microsoft Azure Pack
		.brend-right
			.menu
				h3
					| Бренды
				ul.nav
					li
						a.nav1(href='#') Nutanix
						ul.subnav
							li
								a(href='#') О nutanix
							li
								a(href='#') Обзор решений
							li
								a(href='#') Продукты
							li
								a(href='#') Prism
					li
						a.nav1(href='#') ArgoTech
						ul.subnav
							li
								a(href='#') О nutanix
							li
								a(href='#') Обзор решений
							li
								a(href='#') Продукты
							li
								a(href='#') Prism
					li
						a.nav1(href='#') Arista
						ul.subnav
							li
								a(href='#') nutanix
							li
								a(href='#') nutanix
							li
								a(href='#') nutanix
							li
								a(href='#') nutanix
					li
						a(href='#') nutanix
					li
						a(href='#') nutanix
					li
						a(href='#') nutanix
					li
						a(href='#') nutanix
					li
						a(href='#') nutanix
			.bar-coll
				h3 Заказать звонок
				div
					textarea#text(name='text', col='100', placeholder='Имя')
				div
					textarea#text(name='text', col='100', placeholder='Телефон')
				input.bar-btn(type='submit', value='Отправить')
