.block-top
    .left-sidebar
        include _leftMenu
    .block-wrap
        include _breadcrumbs
        .content
            h1 Абитуриенту
            
                p
                    | На факультете физической культуры и спорта ведется подготовка бакалавров и магистров:
                ul  
                    li
                        strong направление подготовки 49.03.01 (бакалавриат) — «Физическая культура», профиль 
                        b «Менеджмент и экономика в области физической культуры и спорта».
                    li
                        strong
                            | В 2017 году состоялось открытие нового профиля «Спортивная тренировка (единоборства)»
                        a(href='http://www.fks.unn.ru/2017/04/10/novyj-profil-sportivnaya-trenirovka-edinoborstva/') Читать далее
                        span  — направление подготовки 49.03.01 (бакалавриат) — «Физическая культура»:
                    li
                        span Очная — 5 бюджетных мест (2018-2019 учебном году) 
                    li
                        span Заочная 
                    strong
                        | по направлению 49.04.01 (магистратура) — «Физическая культура» магистерская программа
                    b «Менеджмент и экономика физической культуры и спорта»
                    |  на следующие формы обучения:
                    
                    li
                        span Очная — 10 бюджетных мест (в 2018-2019 учебном году)
                    li 
                        span Заочная — 5 бюджетных места (в 2018-2019 учебном году)
                hr
                p
                    strong Перечень вступительных испытаний (бакалавриат)
                ul
                    li 
                        span Русский язык — ЕГЭ
                    li 
                        span Биология — ЕГЭ
                    li
                        span
                            | Физическая подготовленность —
                            a(href='http://www.fks.unn.ru/files/2015/04/PROGRAMMA-VSTUPITELNYH-ISPYTANIJ.doc') Скачать. Внимание!!! Изменения (14.04.2017)
                p
                    strong Перечень вступительных испытаний (магистратура):
                ul
                    li
                        span
                            | Экзамен по экономике (письменно) —  
                            a(href='/files/2015/04/voprosy-v-magistraturu2014.doc') вопросы к экзамену.
                hr
                p
                    strong
                        | Перечень документов, которые необходимо представить в приемную комиссию, при подаче заявления о приеме:
                ul
                    span
                        | Документ об образовании (+ ксерокопия).
                        br
                        | 2. Документ, удостоверяющий личность (паспорт + ксерокопия), после проверки возвращается.
                        br
                        | 3. 4 фотографии размером 3х4 см (матовые) с одного негатива.
                        br
                        | 4. Документ, (+ ксерокопия) подтверждающий индивидуальные достижения.
                        br
                        | 5. Медицинская справка формы О86-У (оригинал+копия, выдается в школе).
                hr
                p  
                p
                    strong Требования к предоставляемым документам
                ul
                    li
                        span
                            | Документ об образовании должен быть эквивалентен Российскому аттестату о среднем (полном) общем образовании.
                        p
                            | 2. Все 4 фотографии должны быть четкими и напечатанными с одного негатива (файла). Допускаются фотографии, как с уголком, так и без уголка. Не принимаются фотографии, на которых абитуриент сфотографирован в темных очках, ксерокопии фотографий, фотографии со следами печати и т.п.
                            span(style='font-size: small')
                                b
                                    span(style='font-size: small')
                                        br
                p
                    | Мы в контакте — 
                    a(href='http://vk.com/abiturient_fks_unn') http://vk.com/abiturient_fks_unn
                .clear
include _fastLink
include _sport