
.block-top
    .left-sidebar
        include _leftMenu
    .block-wrap
        include _breadcrumbs
        .content
            h1 Кафедры
            ul
                li
                    a(href="#") кафедра физической культуры и организации спортивной деятельности
                li
                    a(href="#") кафедра игровых видов спорта
                li
                    a(href="#") кафедра теории и методики прикладных и технических видов спорта
                li
                    a(href="#") кафедра теории и методики спортивных единоборств