.news
    .news-top.block-top
        .left-sidebar
            include _leftMenu
        .news-content.block-wrap
            include _breadcrumbs
            h1 овечкин - в топ-20 лучших снайперов в истории НХЛ
            p.news-date Понедельник, 04.12.2017 
            .news-media
                #sync1.owl-carousel.owl-theme
                    .item(style='background-image: url(/img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                #sync2.owl-carousel.owl-theme
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
                    .item(style='background-image: url(img/slider-fon1.jpg);')
            .content
                p 
                    |Капитан «Вашингтона» Александр Овечкин вошел в число 20 лучших снайперов НХЛ за всю ее 
                    |историю. В матче с «Сан-Хосе» он забил 578-й гол в карьере и обогнал Марка Рекки (577 голов).
                p 
                    |Символично, что этот гол стал для него 20-м в сезоне. Он снова обогнал Никиту и 
                    a(href="#") Кучерова 
                    a(href="#") возглавил 
                    |снайперскую гонку лиги.
                p  Теперь у Овечкина две новые цели:
                ul
                    li 
                        span стать 20-м игроком в истории, кто забьет 600 голов в НХЛ;
                    li  
                        span
                            |подвинуть Яри 
                            a(href="#") Курри (601 гол) с 19-го места.
                p При нынешнем темпе это вполне можно успеть в текущем сезоне.
                p Капитан "Кэпиталз" является одним из двух действующих игроков в топ-20. Также в этом списке - форвард "Калгари" Яромир Ягр, у которого 766 шайб. Чех занимает 
                    | 3-е место в рейтинге лучших. На второй позиции - Горди Хоу (801 гол), на первой - Уэйн Гретцки (894).
                div(style="overflow-y:auto;")
                    table
                        thead
                            tr
                                td Head 1
                                td Head 2 
                                td Head 3
                                td Head 4
                                td Head 5
                        tbody
                            tr
                                td line 1
                                td line 2 
                                td line 3
                                td line 4
                                td line 5
                                
                            tr 
                                td line 1
                                td line 2
                                td line 3
                                td line 4
                                td line 5
                                
                            tr 
                                td line 1
                                td line 2
                                td line 3
                                td line 4
                                td line 5
            .news-photo.box
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
                .news-item-photo(data-src="img/slider-fon1.jpg" data-fancybox="images" style="background-image: url(img/slider-fon1.jpg);")
            .news-data
                h3.line-h1 последние новости
                .news-data-block
                    .news-data-update
                        span.news-date 04.12.2017
                        a(href="#") Билли Райдл. Два
                            br
                            |курса в университете -
                            br
                            |2 золота BUCS Nationals
                    .news-data-update
                        span.news-date 01.12.2017
                        a(href="#") Лингард тащит «МЮ». 
                            br
                            |Фергюсон предсказал его 
                            br
                            |прогресс почти 6 лет назад
                    .news-data-update
                        span.news-date 29.11.2017
                        a(href="#") Коутиньо не лучшая 
                            br
                            |замена Иньесте.
                    .news-data-update
                        span.news-date 27. 11. 2017
                        a(href="#") Салах строит школы и 
                            br
                            |помогаетэкономике Египта
                    
                    
                    
                        
                //- .social
                //-     div
                //-         span
                //-     div
                //-         img(src="img/social1.png", alt="")
                //-     div
                //-         img(src="img/social2.png", alt="")
                //-     div
                //-         img(src="img/social3.png", alt="")
                //-     div
                //-         img(src="img/social4.png", alt="")
                