.body-footer
	.container-footer
		.footer-top
			.footer-logo
				img.one(src='img/footerlogo.png', alt='')
			.address
				img.one(src='img/figura.png', alt='')
				p.footer-text г. Москва 109004 ул Земляной Вал 50А 8 с2
			.tel
				img.one(src='img/tel.png', alt='')
				a(href='tel:+7 (495) 502-99-20') +7 495 150 39 93
			.mail
				img.one(src='img/mail.png', alt='')
				a(href='#') info@navicadata.ru
			.social
				img.one(src='img/vk.png', alt='')
				img(src='img/face.png', alt='')
		.footer-bottom
			.footer-text @ Navicadata. Все права защищены.
			.footer-text
				| разарботка сайта: 
				a(href='#') beluga labs
