header.header
	.header-container
		.burger
		.head-logo
			img(src='img/logo.png', alt='')
		.head-menu
			ul.header-menu
				li.drop
					a(href='#') бренды
					ul
						li
							a(href='#') brend
						li
							a(href='#') brend
						li
							a(href='#') brend
						li
							a(href='#') brend
				li.drop
					a(href='#') услуги
					ul
						li
							a(href='#') brend
						li
							a(href='#') brend
						li
							a(href='#') brend
						li
							a(href='#') brend
				li
					a(href='#') о компании
				li
					a(href='#') блог
				li
					a(href='#') контакты
		.text0 |
		.lang
			select(name='', id='')
				option(value='') ру
				option(value='') en
		.head-tel
			a(href='tel:+7 (495) 150-39-93') +7 (495) 150-39-93
