.help
    .help-top.block-top
        .left-sidebar
            include _leftMenu
        .help-content.block-wrap.box
            div
                h1 Заказ справок-вызовов
                form.contacts-page__form
                    label
                        select.help__form-select1(required)
                            option(disabled selected hidden) 
                            option(value="") Заказ справок (Дневное отделение)
                            option(value="") Заказ справок (Заочное отделение)                         
                    label
                        input.contacts__form-input(type='phone', placeholder='' required)
                        span(class="floating-label") ФИО (полностью)
                    label
                        input.contacts__form-input(type='phone', placeholder='' required)
                        span(class="floating-label") E-mail
                    label
                        select.help__form-select2(required)
                            option(disabled selected hidden) 
                            option(value="") 1
                            option(value="") 2
                            option(value="") 3
                            option(value="") 4
                            option(value="") 5 
                    label
                        input.contacts__form-input(type='phone', placeholder='' required)
                        span(class="floating-label") Номер Вашей группы
                    label
                        select.help__form-select3(required)
                            option(disabled selected hidden) 
                            option(value="") Бюджет 
                            option(value="") внебюджет
                    label
                        select.help__form-select4(required)
                            option(disabled selected hidden) 
                            option(value="") Менеджмент в сфере физической культуры и спорт
                            option(value="") Адаптивная физическая культура
                    label
                        select.help__form-select5(required)
                            option(disabled selected hidden) 
                            option(value="") Справка-вызов                                                     
                    label
                        input.contacts__form-input(type='phone', placeholder='' required)
                        span(class="floating-label") Название организации
                    label
                        select.help__form-select6(required)
                            option(disabled selected hidden) 
                            option(value="") Заочное
                    .btn.btn-blue отправить