.body
	.container-body
		.body-text
			h1
				| Официальный дистрибьютор
				br
				|  IT  оборудования
			p
				| Компания Навика Дата является официальным дистрибьютором ведущих 
				br
				|  мировых вендоров.
		.body-btn
			a.text-btn(href='#') подробнее
.brand-body
	.container-brand
		.text-brand Наши бренды
		.logo-brand
			.logo
				img(src='img/brend.png', alt='')
			.logo
				img(src='img/brend3.png', alt='')
			.logo
				img(src='img/brend5.png', alt='')
			.logo
				img(src='img/brend7.png', alt='')
			.logo
				img(src='img/brend9.png', alt='')
		.logo-brand
			.logo
				img(src='img/brend2.png', alt='')
			.logo
				img(src='img/brend4.png', alt='')
			.logo
				img(src='img/brend6.png', alt='')
			.logo
				img(src='img/brend8.png', alt='')
			.logo
				img(src='img/brend10.png', alt='')
.body-sol
	.container-sol
		.text-sol
			h4 Комплексные решения
			p
				| Помимо IT оборудования, мы также предлагаем полный спектр 
				br
				|  сопутствующих услуг:
		.ikon-sol
			.ikon
				div
					img(src='img/ikon.png', alt='')
				a(href='#')
					| Логистические и 
					br
					|  транспортные услуги
			.ikon
				div
					img(src='img/ikon2.png', alt='')
				a(href='#') IT аутсорсинг
			.ikon
				div
					img(src='img/ikon3.png', alt='')
				a(href='#') IT консалтинг
			.ikon
				div
					img(src='img/ikon4.png', alt='')
				a(href='#')
					| Организация услуг 
					br
					|  защищенной связи и 
					br
					|  передачи данных
			.ikon
				div
					img(src='img/ikon5.png', alt='')
				a(href='#')
					| Предоставление облачных 
					br
					|  сервисов
.body-slider
	.container-slider
		.text-slider
			p Блог
		.box-slider.owl-carousel.owl-theme
			.item
				.slider1
					.slider-fon
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
				.slider2
					.slider-fon1
					.text-slider1
						h3 Консультация с широким активом способствует подготовке
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
			.item
				.slider1
					.slider-fon2
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
				.slider2
					.slider-fon3
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
			.item
				.slider1
					.slider-fon
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
				.slider2
					.slider-fon1
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
			.item
				.slider1
					.slider-fon2
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
				.slider2
					.slider-fon3
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
			.item
				.slider1
					.slider-fon
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
				.slider2
					.slider-fon1
					.text-slider1
						h3 Постоянный рост и сфера нашей активности
						p
							| Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...
