.leadships
    .leadships-top.block-top
        .left-sidebar
            include _leftMenu
        .leadships-content.block-wrap
            include _breadcrumbs
            .leadships-foto
                .foto-item
                    .foto(style="background-image:url(../img/foto-1.jpg)")
                    .text    
                        h1
                            a(href="#") Орлова Елена Аркадьевна
                        h3 Исполняющая обязанности декана факультета 
                        p Доцент, кандидат экономических наук, мастер спорта. Награждена Почетной Грамотой Министерства образования за 
                         | многолетний добросовестный труд в системе высшего профессионального образования, Почетным Дипломом Губернатора
                         | Нижегородской области за большой вклад в развитие образования и науки Нижегородской области.
                        span
                            
                            a(href="#")
                                i.fa.fa-envelope 
                                |mail@example.ru
                            a(href="#") 
                                i.fas.fa-mobile
                                | +7(999) 999-999-99
                .foto-item
                    .foto(style="background-image:url(../img/Kuzmin-Vadim-Gennadevich.jpg)")
                    .text    
                        h1 
                            a(href="#") Кузьмин Вадим Геннадьевич
                        h3 Заведующий кафедрой теории и методики прикладных и технических видов спорта
                        p Кандидат физико-математических наук, профессор, заслуженный профессор нашего университета, член совета по физической
                         | культуре и спорту при Губернаторе Нижегородской области.
                        p Заслуженный работник физической культуры Российской Федерации, мастер спорта международного класса, судья
                         | всесоюзной категории, награжден медалью ордена «За заслуги перед Отечеством » II степени, медалью «80 лет Госкомспорту 
                         |России», медалью «Петра Лесгафта», почетным знаком «За заслуги в развитии физической культуры и спорта». 
                         |Декан факультета физической культуры и спорта Университета Лобачевского 2001 — 2017 гг. 
                .foto-item
                    .foto(style="background-image:url(../img/44-245x300.jpg)")
                    .text    
                        h1 
                            a(href="#") Кутасин Александр Николаевич
                        h3 Заведующий кафедрой организации физкультурно-спортивной деятельности 
                        p Заведующий кафедрой организации физкультурно-спортивной деятельности 
                        p 
                            | Общий педагогический стаж работы профессиональной деятельности Кутасина А.Н. составляет 29 лет, в ННГУ им Н.И.
                            br
                            | Лобачевского – 7 лет.   
                        p Награжден правительственными и ведосмственными медалями, имеет почетные грамоты и благодарные письма от
                         | администрации города и нижегородской области. Является мастером спорта по многоборью. 
                .foto-item
                    .foto(style="background-image:url(../img/20-1-258x300.jpg)")
                    .text    
                        h1 
                            a(href="#")  Гутко Александр Владимирович
                        h3 
                            | возглавляет Кафедру игровых видов спорта кандидат психологических наук,
                            br
                            | доцент, мастер спорта, Чемпион СССР по бадминтону
                        p Награжден знаком «Отличник физической культуры и спорта».
                            | Он тренер сборной команды России, которая в 2006 году впервые в истории студенческого бадминтона
                            | завоевала серебряные медали Чемпионата Мира. Команда ННГУ в течение последних лет успешно выступалет на студенческих 
                            | Чемпионатах России и Европы.
                .foto-item
                    .foto(style="background-image:url(../img/9-1-226x300.jpg)")
                    .text   
                        h1 
                            a(href="#")  Полетаева Ольга Николаевна
                        h3 Заместителем декана по учебной работе является доцент
                        p мастер спорта по лыжным гонкам, имеет международный сертификат по аэробике и шейпингу, награждена знаком «Отличник
                           | физической культуры и спорта».
                .foto-item
                    .foto(style="background-image:url(../img/Kuzmina-Svetlana-Vladimirovna-218x300.jpg)")
                    .text     
                        h1 
                            a(href="#") Соколовская Светлана Владимировна
                        h3 
                            | Заместителем декана по заочному отделению и дополнительным формам 
                            br 
                            | обучения является кандидат психологических наук, доцент
                        p Заместителем декана по заочному отделению и дополнительным формам обучения является кандидат психологических наук, доцент
                .foto-item
                    .foto(style="background-image:url(../img/3-1-246x300.jpg)")
                    .text     
                        h1 
                            a(href="#") Малышева Татьяна Александровна
                        h3 Заместителем декана по научной работе является старший преподаватель
                        p Награждена почетной грамотой Министерства образования и науки РФ
                .foto-item
                    .foto(style="background-image:url(../img/Filonov-Leonid-242x300.jpg)")
                    .text     
                        h1 
                            a(href="#") Филонов Леонид Викторович
                        h3 Заместитель декана по профориентации со школьниками
                        p
                .foto-item
                    .foto(style="background-image:url(../img/13-11-276x300.jpg)")
                    .text     
                        h1 
                            a(href="#") Федотова Майя Игоревна
                        h3 Заместитель декана по физической культуре
                        p
                .foto-item
                    .foto(style="background-image:url(../img/11-1-235x300.jpg)")
                    .text     
                        h1 
                            a(href="#") Устюхова Наталья Николаевна
                        h3 
                            |заместитель декана по воспитательной работе, старший преподаватель, 
                            br
                            |тренер сборной ННГУ по лыжным гонкам.
                        p 
                .foto-item
                    .foto(style="background-image:url(../img/lebedev1.jpg)")
                    .text     
                        h1 
                            a(href="#") Лебедев Юрий Александрович
                        h3 
                            |Профессор кафедры теории и методики прикладных и технических видов спорта, 
                            br
                            |заслуженный тренер России
                        p мастер спорта по шашкам, награжден медалью «80 лет Госкомспорта России» и почетным знаком «За заслуги в развитии физической культуры и спорта».
                            |Среди его воспитанников не мало мастеров спорта, призеров чемпионатов мира, России и бывшего СССР.
include _fastLink
include _sport                
                                                            
                