.close
form.search
    input.search-inp(type="text" placeholder="поиск")
    button.search-btn
ul#accordion-1.accordion
    li.menu-mobile
        a(href="#") 
            span.text Главное Меню
        ul
            li
                a(href="/") 
                    span.text о факультете
                ul
                    li
                        a(href="#") 
                            span.text Абитуриенту
                    li
                        a(href="#") 
                            span.text студенту
                    li
                        a(href="#") 
                            span.text Учебно-лабораторная база
                    li
                        a(href="#")
                            span.text спорт
                    li
                        a(href="#")
                            span.text наука
                    li
                        a(href="#")
                            span.text вакансии
                    li
                        a(href="#")
                            span.text контакты
            li
                a(href="#")
                    span.text Абитуриенту
            li
                a(href="#")
                    span.text студенту
            li
                a(href="#")
                    span.text поступающим
            li
                a(href="#")
                    span.text спорт
            li
                a(href="#")
                    span.text наука
            li
                a(href="#")
                    span.text вакансии
            li
                a(href="#")
                    span.text контакты
    li
        a(href="#") 
            span.text.rasp Расписание
        ul
            li
                a(href="#")
                    span.text Занятия
            li
                a(href="#")
                    span.text Секции
            li
                a(href="#")
                    span.text Тренировки
    li
        a(href="#")
            span.text заказ справок
        ul
            li
                a(href="#")
                    span.text Заказ справок (Дневное отделение)
            li
                a(href="#")
                    span.text Заказ справок (Заочное отделение)
            li
                a(href="#")
                    span.text Заказ справок-вызовов
    li
        a(href="#")
            span.text Меню
        ul
            li
                a(href="#")
                    span.text Вакансии
            li
                a(href="#")
                    span.text Дневное отделение
            li
                a(href="#")
                    span.text Магистратура
            li
                a(href="#")
                    span.text Ваш вопрос
            li
                a(href="#")
                    span.text Преподавателям
            li
                a(href="#")
                    span.text Библиотека
            li
                a(href="#")
                    span.text Видео
            li
                a(href="#")
                    span.text Фотогалерея
            li
                a(href="#")
                    span.text Выпускникам
            li
                a(href="#")
                    span.text Достижения студентов
            li
                a(href="#")
                    span.text Центр спортивных инициатив
            li
                a(href="#")
                    span.text Спортивный комплекс ННГУ
            li
                a(href="#")
                    span.text Старая версия сайта
    li
        a(href="#")
            span.text Архив новостей
.soc
    .phone
        a.phone-a(href="tel:+7(831)4323481")
            | +7(831)432-34-81
        a.mail-a(href="mailto:kuzmin@fks.unn.ru")
            | kuzmin@fks.unn.ru
    .soc-link
        a(href="#")
            img(src="/img/vk.png" alt="")
        a(href="#")
            img(src="/img/f.png" alt="")
        a(href="#")
            img(src="/img/g.png" alt="")