.partners
    .partners-top.block-top
        .left-sidebar
            include _leftMenu
        .partners-content.block-wrap
            .partners-ikon.row
                a(href="#").ikon 
                    img(src="img/ikon.png", alt="")
                    p Министерство спорта и
                        br 
                        | молодежной политики 
                        br
                        | Нижегородской области
                a(href="#").ikon  
                    img(src="img/ikon2.png", alt="")
                    p 
                        | Департамент по спорту и
                        br
                        | молодежной политике
                        br
                        | Нижнего Новгорода,
                a(href="#").ikon 
                    img(src="img/ikon3.png", alt="")
                    p   Российский спортивный
                        br
                        |студенческий союз
                a(href="#").ikon 
                    img(src="img/ikon4.png", alt="")
                    p   Баскетбольный клуб
                        br
                        |«Нижний Новгород»
                a(href="#").ikon 
                    img(src="img/ikon5.png", alt="")
                    p Хоккейный клуб
                        br
                        |«Торпедо»
                a(href="#").ikon 
                    img(src="img/ikon6.png", alt="")
                    p Федерации по видам спорта
                        br
                        | Нижнего Новгорода и
                        br
                        | Нижегородской области
                a(href="#").ikon 
                    img(src="img/ikon7.png", alt="")
                    p Приволжский спортивный
                        br
                        |студенческий союз
include _fastLink
include _sport