.block-top
    .left-sidebar
        include _leftMenu
    .block-wrap
        include _breadcrumbs
        .content
            h1 Волейбол
            .foto-gallery.box
                .gallery(data-src='/img/95.jpg' data-fancybox="images")
                    img(src='/img/95.jpg')
                .gallery(data-src='/img/DSC00944.jpg' data-fancybox="images")
                    img(src='/img/DSC00944.jpg')
                .gallery(data-src='/img/P1060119.jpg' data-fancybox="images")
                    img(src='/img/P1060119.jpg')
                .gallery(data-src='/img/P1070261.jpg' data-fancybox="images")
                    img(src='/img/P1070261.jpg')
                .gallery(data-src='/img/P1080326.jpg' data-fancybox="images")
                    img(src='/img/P1080326.jpg')
                .gallery(data-src='/img/P1080333.jpg' data-fancybox="images")
                    img(src='/img/P1080333.jpg')
                .gallery(data-src='/img/P1234567.jpg' data-fancybox="images")
                    img(src='/img/P1234567.jpg')
                .gallery(data-src='/img/P11953197.jpg' data-fancybox="images")
                    img(src='/img/P11953197.jpg')
            h3(style='text-align: center') Состав женской сборной команды ННГУ 2017
            div.item-box.box(style="overflow-y:auto;")
                    table
                        thead
                            tr
                                td Фамилия Имя
                                td Факультет                            
                        tbody
                            tr
                                td 1. Жиркова Светлана
                                td ИМОМИ                             
                            tr 
                                td 2. Базлова Марина
                                td ФКС                               
                            tr 
                                td 3. Краснова Анна
                                td ФКС                                
                            tr 
                                td 4. Юрченкорва Дарья
                                td ФСН                               
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
                            tr 
                                td line 1
                                td line 2
            p 
                strong Тренер: Ермилова Анна Вячеславовна
            h3(style='text-align: center;margin-top: 77px;') Состав женской сборной команды ННГУ 2017
            div.item-box.box(style="overflow-y:auto;")
                    table
                        thead
                            tr
                                td Фамилия Имя
                                td п/п
                                td Факультет                                
                        tbody
                            tr
                                td 1. Марихин Сергей
                                td 192 
                                td атакующий защитник
                                td ФКС                                 
                            tr 
                                td 2. Погодин Максим
                                td 189
                                td форвард
                                td ФКС                                                               
                            tr 
                                td 3. Иванов Игнат
                                td 195
                                td центровой
                                td ФКС выпускник                                
                            tr 
                                td 4. Юнисов Артём
                                td 185
                                td атакующий защитник
                                td ФКС                                
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3
                            tr 
                                td line 1
                                td line 2
                                td line 3