.contact {
    .block-wrap{
        padding: 0;
    }
    h3 {
        font-size: 30px;
        color: #434343;
        position: relative;
        padding-left: 19px;
        letter-spacing: 0;
        font-weight: 500;
        margin-bottom: 40px;
        &:before {
            content: "";
            bottom: -6px;
            position: absolute;
            background-color: #eb5729;
            width: 3px;
            height: 47px;
            left: 0px;
        }
    }
    &-contents-map {
        width: 100%;
        position: relative;
    }
    &-adress {
        margin-right: 40px;
        margin-bottom: 40px;
        padding: 71px 41px 30px 110px;
        background-color: rgba(255, 255, 255, 0.5);
        max-width: 905px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        z-index: 200;
        bottom: 0;
        right: 0;
        h1 {
            font-weight: 500;
            font-size: 60px;
            color: black;
            text-transform: uppercase;
            text-align: right;
            position: relative;
            margin-bottom: 99px;
            letter-spacing: 0.5px;
            &:after {
                bottom: -60px;
                position: absolute;
                content: "";
                background-color: #eb5729;
                width: 145px;
                height: 3px;
                border: none;
                right: 0px;
            }
        }
        p {
            color: black;
            font-size: 24px;
        }
    }
    &-regform {
        display: flex;
        flex-wrap: wrap;
        div:first-child {
            flex-basis: 35%;
            P {
                margin-bottom: 20px;
                font-size: 16px;
                color: #393939;
                line-height: 18px;
            }
        }
        div:last-child {
            flex-basis: 65%;
            .contacts-page__form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 25px;
            }
            label {
                margin-bottom: 45px;
                flex-basis: 48%;
                position: relative;
                display: block;
                input:focus~.floating-label,
                input:not(:focus):valid~.floating-label,
                textarea:focus~.floating-label,
                textarea:not(:focus):valid~.floating-label,
                select:focus~.floating-label,
                select:not(:focus):valid~.floating-label {
                    top: -20px;
                    left: 0px;
                    font-size: 14px;
                    opacity: 1;
                }
                .select-style {
                    width: 100%;
                    height: 43px;
                    overflow: hidden;
                    background: white url(../img/arrow-select.png) no-repeat 93% center;
                }
                .contacts__form-select {
                    -webkit-appearance: none;
                }
                .fs-label-wrap,
                .contacts__form-input,
                .contacts__form-textarea,
                .contacts__form-select {
                    font-size: 14px;
                    width: 100%;
                    height: 43px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(204, 204, 204);
                    background-color: rgb(255, 255, 255);
                    padding: 0 20px;
                }
                .fs-label-wrap {
                    cursor: pointer;
                }
                .fs-label {
                    border: none;
                    height: 43px;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    font-size: 16px;
                    color: #b3b3b3;
                    cursor: pointer;
                }
                .fs-wrap {
                    width: 100%;
                }
                .fs-dropdown {
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 4px 10px 0px rgba(22, 21, 23, 0.2);
                    width: 100%;
                }
                .fs-search {
                    padding: 10px;
                    background-color: #e9e9e9;
                    input {
                        background-color: #e9e9e9;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                .fs-option {
                    padding: 9px 21px;
                    color: #b3b3b3;
                    border: none;
                    font-size: 16px;
                    &:first-child {
                        padding: 0;
                    }
                }
                .fs-arrow {
                    border: none;
                    background-image: url("/img/arrow-gray.png");
                    background-repeat: no-repeat;
                    width: 12px;
                    height: 7px;
                    right: 10px;
                }
                .floating-label {
                    position: absolute;
                    pointer-events: none;
                    left: 20px;
                    top: 12px;
                    transition: 0.2s ease all;
                    white-space: nowrap;
                    font-size: 16px;
                    color: #b3b3b3;
                }
                .contacts__form-textarea {
                    width: 100%;
                    max-width: 797.55px;
                    height: 100px;
                    min-height: 100px;
                    max-height: 110px;
                    padding: 20px;
                }
            }
    .btn-blue{
        max-width: 234px;
        margin:0; 
    }
            .text-area {
                flex-basis: 100%;
            }
        }
    }
    &-info-wrap {
        background-color: white;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
    }
    &-info-block {
        display: flex;
        div:first-child{
            padding-right: 15px;
        }
        div {
            flex-basis: 100%;
            ul {
                font-family: "ProximaNova";
                color: #393939;
                font-size: 17px;
                padding: 0 0 30px 0;
                li {
                    padding: 15px 0 0 0;
                    color: #0079c2;
                    list-style-type: disc;
                    margin: 0 0 0 18px;
                    span {
                        color: #393939;
                    }
                    a {
                        color: #393939;
                    }
                }
            }
            h4 {
                font-size: 23px;
                color: #808080;
                font-weight: 500;
            }
        }
    }
    @media(max-width:768px) {
        
      
        &-regform {
            .contacts-page__form{
                width: 100%;
            }
            div:first-child,
            div:last-child {
                flex-basis: 100%;
                label{
                    flex-basis: 100%;
                    margin-bottom: 25px;
                }
            }

        }
        &-info-block {
            flex-wrap: wrap;
            div {
                flex-basis: 100%;
            }
            &-adress{
                display: none;
            }
        }
    }
    @media(max-width:1279px){
        &-contents-map{
            height: calc(100vh - 70px);

        }
        &-adress{
            display: none;
        }
    }
    
    @media(max-width:581px) {
        &-info-wrap {
            h3 {
                &:before {
                    bottom: 5px;
                    height: 65px;
                }
            }
        }
    }
}