.site-header{
  width: 100%;
  max-width: 1920px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.soc-logo{
  display: flex;
  img{
      width: 65px;
      height: 65px;
  }
  p{
      color:#350707;
      text-transform: uppercase;
      font-family: $f-p;
      font-size: 20px;
      font-weight: 300;
      padding-left:17px;
  }
  .bold{
      font-weight: 900;
  }
  
}

.menu-soc {
display: flex;
align-items: center;
margin-left: 0px;
.menu {
    display: flex;
    li {
        position: relative;
        a {
            display: block;
            color: #2d2a24;
            font-size: 18px;
            letter-spacing: 0.1px;
            padding: 7px 17px;
            white-space: nowrap;
            font-weight: bold;
        }
        &:hover {
            background-color: #e5f1f9;
        }
        &:hover .menu-drop {
            display: flex;
        }
    }
    &-arrow {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 11px;
            height: 8px;
            top: 12px;
            right: 3px;
        }
    }
    &-drop {
        position: absolute;
        left: 0;
        top: 32px;
        display: none;
        flex-direction: column;
        padding: 20px 0;
        border-left: 5px solid #e5f1f9;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 5.4px 0.6px rgba(22, 21, 23, 0.1);
        li {
            a {
                color: #b3b3b3;
                &:hover {
                    color: #0079c2;
                    background-color: transparent;
                }
            }
        }
    }
}
}

.soc-link {
  display: flex;
  align-items: center;
  img {
      width: 24px;
      height: 24px;
      border-radius: 2px;
      margin-right: 4px;
  }
  p{
      font-family: $f-p;
      font-size: 14px;
      font-weight: 300;
  }
}