.leadships {
    .block-wrap{
    

    }
    &-content {
        
    }
    &-photo {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-top: 80px;
    }
    .foto-item {
        margin-bottom: 50px;
        display: flex;
        justify-content: flex-start;
        .text {
            padding-left: 40px;
        }
        h1 {
            margin: 0 0px;
            font-family: "ProximaNova";
            color: #636262;
            a {
                color: #569eca;
                text-decoration: underline;
            }
        }
        h3 {
            margin: 3px 0 0 0px;
            font-family: "ProximaNova";
            color: #636262;
        }
        p {
            margin: 30px 0 0 0px;
            font-family: "ProximaNova";
            color: #5a5a5a;
            font-size: 15px;
        }
        .foto {
            background-size: cover;
            width: 215px;
            height: 215px;
            border-radius: 50%;
            flex-shrink: 0;
        }
        span {
            margin: 30px 0 0 0px;
            display: flex;
            align-items: center;
            i {
                font-size: 20px;
                color: #569eca;
                margin-right: 10px;
            }
            a {
                &:last-child {
                    margin-left: 20px;
                }
                font-size: 20px;
                font-weight: 500;
                color: #5a5a5a;
            }
        }
    }
    @media(max-width:540px) {
   
        .foto-item {
            margin-bottom: 50px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .text {
                padding-left: 0px;
                h1{
                    padding-top: 7px;
                }
            }
            span{
                flex-wrap: wrap;
                margin-left:0px;
                a:last-child{
                    margin-left:0px;
                    padding-top: 5px;
                }
            }
        }
    }
    @media(max-width:735px){
        &-content{
           }
           &-foto {
           }
           .foto-item {
               .text {
                   h1{
                   }
               }
               span{
                   flex-wrap: wrap;
                   a:last-child{
                       margin-left:0px;
                   }
               }
           }
        }
}