
<div class="container fastLink">
  <div class="block-icons row"><a class="block-icons-item" href="#">
      <div><img src="img/ikon_1.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Руководство</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_2.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Кафедры</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_3.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Дисциплины</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_4.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Учебно-лабораторная<br/>база</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_5.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Наши партнеры</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_6.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Наши победы</p></a></div>
</div>