
<footer class="footer">
  <div class="footer-wrap">
    <div class="footer-left">
      <ul class="footer-ul">
        <li><span>Деканат: </span><span>пр. Гагарина, 23, кор. 11, 462-34-81, факс: 465-63-94, вахта: 462-37-45</span></li>
        <li><span>Деканат заочного отделения: </span><span>462-37-45 тел. 462-34-82</span></li>
        <li><span>E-mail: </span><span>kuzmin@fks.unn.ru</span></li>
      </ul>
      <p class="copyright">© 2017. ФКС ННГУ</p>
    </div>
    <ul class="footer-ul">
      <li><span>ВКонтакте: </span><span>http://vk.com/abiturient_fks_unn</span></li>
      <li><span>Предложения по сайту: </span><span>Fill-coach@yandex.ru</span></li>
      <li><span>Обновление информации: </span><span>uskov@fnf.unn.ru</span></li>
    </ul>
    <div class="footer-soc"></div>
  </div>
</footer>