
<header class="site-header"> <a class="logo-header" href="#"><img src="/img/logo.png" alt=""/></a>
  <div class="menu-soc">
    <ul class="menu">
      <li><a class="menu-arrow" href="/">о факультете</a>
        <ul class="menu-drop">
          <li><a href="#">Абитуриенту</a></li>
          <li><a href="#">студенту</a></li>
          <li><a href="#">Учебно-лабораторная база</a></li>
          <li><a href="#">спорт</a></li>
          <li><a href="#">наука</a></li>
          <li><a href="#">вакансии</a></li>
          <li><a href="#">контакты</a></li>
        </ul>
      </li>
      <li><a href="#">Абитуриенту</a></li>
      <li><a href="#">студенту</a></li>
      <li><a href="#">Преподавателям</a></li>
      <li><a href="#">спорт</a></li>
      <li><a href="#">наука</a></li>
      <li><a href="#">вакансии</a></li>
      <li><a href="#">контакты</a></li>
    </ul>
    <div class="soc">
      <div class="phone"><a class="phone-a" href="tel:+7(831)4323481">+7(831)432-34-81</a><a class="mail-a" href="mailto:kuzmin@fks.unn.ru">kuzmin@fks.unn.ru</a></div>
      <div class="soc-link"><a href="#"><img src="/img/vk.png" alt=""/></a><a href="#"><img src="/img/f.png" alt=""/></a><a href="#"><img src="/img/g.png" alt=""/></a></div>
    </div>
    <div class="burger">
      <div class="burger-line"></div>
    </div>
  </div>
</header>