
<div class="faculty">
  <div class="faculty-top block-top">
    <div class="left-sidebar">
      <div class="close"></div>
      <form class="search">
        <input class="search-inp" type="text" placeholder="поиск"/>
        <button class="search-btn"></button>
      </form>
      <ul class="accordion" id="accordion-1">
        <li class="menu-mobile"><a href="#"> <span class="text">Главное Меню</span></a>
          <ul>
            <li><a href="/"> <span class="text">о факультете</span></a>
              <ul>
                <li><a href="#"> <span class="text">Абитуриенту</span></a></li>
                <li><a href="#"> <span class="text">студенту</span></a></li>
                <li><a href="#"> <span class="text">Учебно-лабораторная база</span></a></li>
                <li><a href="#"><span class="text">спорт</span></a></li>
                <li><a href="#"><span class="text">наука</span></a></li>
                <li><a href="#"><span class="text">вакансии</span></a></li>
                <li><a href="#"><span class="text">контакты</span></a></li>
              </ul>
            </li>
            <li><a href="#"><span class="text">Абитуриенту</span></a></li>
            <li><a href="#"><span class="text">студенту</span></a></li>
            <li><a href="#"><span class="text">поступающим</span></a></li>
            <li><a href="#"><span class="text">спорт</span></a></li>
            <li><a href="#"><span class="text">наука</span></a></li>
            <li><a href="#"><span class="text">вакансии</span></a></li>
            <li><a href="#"><span class="text">контакты</span></a></li>
          </ul>
        </li>
        <li><a href="#"> <span class="text rasp">Расписание</span></a>
          <ul>
            <li><a href="#"><span class="text">Занятия</span></a></li>
            <li><a href="#"><span class="text">Секции</span></a></li>
            <li><a href="#"><span class="text">Тренировки</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="text">заказ справок</span></a>
          <ul>
            <li><a href="#"><span class="text">Заказ справок (Дневное отделение)</span></a></li>
            <li><a href="#"><span class="text">Заказ справок (Заочное отделение)</span></a></li>
            <li><a href="#"><span class="text">Заказ справок-вызовов</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="text">Меню</span></a>
          <ul>
            <li><a href="#"><span class="text">Вакансии</span></a></li>
            <li><a href="#"><span class="text">Дневное отделение</span></a></li>
            <li><a href="#"><span class="text">Магистратура</span></a></li>
            <li><a href="#"><span class="text">Ваш вопрос</span></a></li>
            <li><a href="#"><span class="text">Преподавателям</span></a></li>
            <li><a href="#"><span class="text">Библиотека</span></a></li>
            <li><a href="#"><span class="text">Видео</span></a></li>
            <li><a href="#"><span class="text">Фотогалерея</span></a></li>
            <li><a href="#"><span class="text">Выпускникам</span></a></li>
            <li><a href="#"><span class="text">Достижения студентов</span></a></li>
            <li><a href="#"><span class="text">Центр спортивных инициатив</span></a></li>
            <li><a href="#"><span class="text">Спортивный комплекс ННГУ</span></a></li>
            <li><a href="#"><span class="text">Старая версия сайта</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="text">Архив новостей</span></a></li>
      </ul>
      <div class="soc">
        <div class="phone"><a class="phone-a" href="tel:+7(831)4323481">+7(831)432-34-81</a><a class="mail-a" href="mailto:kuzmin@fks.unn.ru">kuzmin@fks.unn.ru</a></div>
        <div class="soc-link"><a href="#"><img src="/img/vk.png" alt=""/></a><a href="#"><img src="/img/f.png" alt=""/></a><a href="#"><img src="/img/g.png" alt=""/></a></div>
      </div>
    </div>
    <div class="faculty-content block-wrap">
      <h3>awd da</h3>
    </div>
  </div>
</div>