.contact
    .contact-top.block-top
        .left-sidebar
            include _leftMenu
        .contact-content.block-wrap.box
            .contact-contents-map
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8856.129831364575!2d43.97398850132984!3d56.294752509612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d59f11a16303%3A0xe65cf77b14fa611c!2z0L_RgNC-0YHQvy4g0JPQsNCz0LDRgNC40L3QsCwgMjMg0LrQvtGA0L_Rg9GBIDExLCDQndC40LbQvdC40Lkg0J3QvtCy0LPQvtGA0L7QtCwg0J3QuNC20LXQs9C-0YDQvtC00YHQutCw0Y8g0L7QsdC7LiwgNjAzMDU3!5e0!3m2!1sru!2sru!4v1517830481458" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                .contact-adress
                    h1 ПР. Гагарина 23, корп. 11
                        p за бассейном «Дельфин»
    .contact-info.container
        .contact-regform.row
            div
                h3 контакты
                p АДРЕС Деканата: пр. Гагарина, 23, кор. 11,
                p И.О. ДЕКАНА: Орлова Елена Аркадьевна – тел./факс
                    br
                    a(href="tel:8(831) 462-34-80") 8(831) 462-34-80
                    | , E-mail:
                    a(href="#") orlova@unn.ru
                p ТЕЛЕФОНЫ Деканата: 
                    a(href="tel:462-34-81") 462-34-81
                    |,
                    br
                    |факс:
                    a(href="#") 465-63-94
                    |, вахта: 
                    a(href="tel:462-37-45") 462-37-45
                p ДЕКАНАТ ЗАОЧНОГО ОТДЕЛЕНИЯ: тел. 
                    a(href="tel:462-34-82") 462-34-82
                p E-mail: 
                    a(href="#") kuzmin@fks.unn.ru
            div
                form.contacts-page__form
                    label
                        select.contacts__form-select(required)
                            option(disabled selected hidden) 
                            option(value="") Орлова Елена Аркадьевна
                            option(value="") Летягина Елена Николаевна
                            option(value="") Соколовская Светлана Владимировна
                            option(value="") Малышева Татьяна Александровна 
                            option(value="") Устюхова Наталья Николаевна
                            option(value="") Филонов Леонид Викторович
                            option(value="") Мухина Марина Юрьевна
                            option(value="") Кутасин Александр Николаевич 
                            option(value="") Гутко Александр Владимирович
                            option(value="") Кузьмин Вадим Геннадьевич 
                            option(value="") Власов Геннадий Рудольфович
                            option(value="") Борисова Наталья Александровна
                    label
                        input.contacts__form-input(type='phone', placeholder='' required)
                        span(class="floating-label") Ваше имя и фамилия
                    label
                        input#phone.contacts__form-input(type='phone',  required)
                        span(class="floating-label") +7(999) 999-999-99
                    label
                        input.contacts__form-input(type='phone', placeholder='' required)
                        span(class="floating-label") E-mail
                    label.text-area
                        textarea.contacts__form-textarea(placeholder='' required)
                        span(class="floating-label") Сообщение
                    .btn.btn-blue отправить
                        
    .contact-info-wrap.container
        .row
            h3 Дополнительная информация
            .contact-info-block
                div
                    h4 Заместитель декана по:
                    ul
                        li 
                            span 
                                |очному отделению Полетаева Ольга Николаевна
                                br 
                                | тел. 
                                a(href="tel:8 (831) 462-34-81") 8 (831) 462-34-81,
                                | E-mail:
                                a(href="#") dekanat@fks.unn.ru
                        li 
                            span 
                                | заочному отделению и дополнительным формам образования
                                br
                                | Соколовская Светлана Владимировна
                                br 
                                | тел. 
                                a(href="tel:8 (831) 462-34-82") 8 (831) 462-34-82; 
                                | E-mail:
                                a(href="zaochnik@fks.unn.ru") zaochnik@fks.unn.ru
                        li 
                            span
                                |магистратуре – тел. 
                                a(href="tel:8 (831) 462-34-82") 8 (831) 462-34-87 
                                | E-mail: 
                                a(href="#") magistr@fks.unn.ru
                        li 
                            span
                                | науке Малышева Татьяна Александровна
                                br
                                |E-mail: 
                                a(href="#") malysheva@fks.unn.ru
                        li
                            span
                                | воспитательной работе Устюхова Наталья Николаевна
                                br
                                |E-mail:
                                a(href="#") ustiuhova@fks.unn.ru
                        li
                            span
                                | довузовской подготовке Филонов Леонид Викторович
                                br
                                | E-mail: 
                                a(href="#") fill-coach@yandex.ru
                        li
                            span
                                | физической культуре Федотова Майя Игоревна
                                br
                                |E-mail:
                                a(href="#") FedotovaMaya@yandex.ru
                        li
                            span
                                |спортивно-массовой работе Мухина Марина Юрьевна
                                br 
                                |тел. 
                                a(href="teal:8(831) 462-34-84") 8(831) 462-34-84 
                                |E-mail:
                                a(href="#") sport@fks.unn.ru
                    h4 вахта:
                    ul
                        li
                            span
                                |спорткомплекса за бассейном «Дельфин» 
                                a(href="tel:8 (831) 462-37-45") 8 (831) 462-37-45
                        li
                            span
                                |спорткомплекса на территории студгородка 
                                a(href="tel:8 (831) 462-34-85") 8 (831) 462-34-85
                div
                    h4 кафедры:
                    ul 
                        li 
                            span 
                                |Кафедра физической культуры и организации спортивной деятельности
                                br 
                                | (ФКиОСД). Заведующий кафедрой Кутасин Александр Николаевич
                                br 
                                a(href="tel:8 (831) 462-34-83") 8 (831) 462-34-83,
                                | E-mail:
                                a(href="#") kutasin@fks.unn.ru
                        li 
                            span 
                                | Кафедра игровых видов спорта (ИВС). 
                                br
                                | Заведующий кафедрой Гутко Александр Владимирович
                                br 
                                | тел. 
                                a(href="tel:8(831) 462-34-84") 8(831) 462-34-84; 
                                | E-mail:
                                a(href="#") gutko@fks.unn.ru
                        li 
                            span
                                |Кафедра теории и методики прикладных и технических видов спорта 
                                br
                                | (ТМПиТВС). Заведующий кафедрой Кузьмин Вадим Геннадьевич
                                br 
                                a(href="tel:8 (831) 465-39-01") 8 (831) 462-34-87 
                                | E-mail: 
                                a(href="#") kuzmin@fks.unn.ru
                        li 
                            span
                                | Директор спорткомплекса Власов Геннадий Рудольфович
                                br
                                a(href="tel:8(831) 462-34-86") 8(831) 462-34-86
                                |E-mail: 
                                a(href="#") ssr2020@yandex.ru
                        li
                            span
                                | Комендант Борисова Наталья Александровна
                                br
                                |E-mail:
                                a(href="#") fks-borisova@fks.unn.ru
                    h4 предложения:
                    ul
                        li
                            span
                                |по физкультурно-оздоровительным услугам обращаться к 
                                br
                                |Полетаевой Любови Карловне – тел. 
                                a(href="tel:8(831) 462-34-80") 8(831) 462-34-80
                                | ; E-mail: 
                                a(href="#") kuzmin@fks.unn.ru
                        li
                            span
                                |по сайту обращаться к Филонову Леониду Викторовичу – E-mail:
                                br
                                a(href="#") fill-coach@yandex.ru
include _fastLink
include _sport