.container.fastLink
    .block-icons.row
        a(href="#").block-icons-item
            div
                img(src="img/ikon_1.png", alt="")
                .ring
            p Руководство
        a(href="#").block-icons-item
            div
                img(src="img/ikon_2.png", alt="")
                .ring
            p Кафедры
        a(href="#").block-icons-item
            div
                img(src="img/ikon_3.png", alt="")
                .ring
            p Дисциплины
        a(href="#").block-icons-item
            div
                img(src="img/ikon_4.png", alt="")
                .ring
            p Учебно-лабораторная
                br
                | база
        a(href="#").block-icons-item
            div
                img(src="img/ikon_5.png", alt="")
                .ring
            p Наши партнеры
        a(href="#").block-icons-item
            div
                img(src="img/ikon_6.png", alt="")
                .ring
            p Наши победы