block footer
	footer.footer
		.footer-wrap
			.footer-left
				ul.footer-ul
					li
						span Деканат: 
						span пр. Гагарина, 23, кор. 11, 462-34-81, факс: 465-63-94, вахта: 462-37-45
					li
						span Деканат заочного отделения: 
						span 462-37-45 тел. 462-34-82
					li
						span E-mail: 
						span kuzmin@fks.unn.ru
				p.copyright © 2017. ФКС ННГУ
			ul.footer-ul
					li
						span ВКонтакте: 
						span http://vk.com/abiturient_fks_unn
					li
						span Предложения по сайту: 
						span Fill-coach@yandex.ru
					li
						span Обновление информации: 
						span uskov@fnf.unn.ru
			.footer-soc