block header
	header.site-header 
		a.logo-header(href="#")
			img(src="/img/logo.png" alt="")
		.menu-soc
			ul.menu
				li
					a(href="/").menu-arrow о факультете
					ul.menu-drop
						li
							a(href="#") Абитуриенту
						li
							a(href="#") студенту
						li
							a(href="#") Учебно-лабораторная база
						li
							a(href="#") спорт
						li
							a(href="#") наука
						li
							a(href="#") вакансии
						li
							a(href="#") контакты
				li
					a(href="#") Абитуриенту
				li
					a(href="#") студенту
				li
					a(href="#") Преподавателям
				li
					a(href="#") спорт
				li
					a(href="#") наука
				li
					a(href="#") вакансии
				li
					a(href="#") контакты
			.soc
				.phone
					a.phone-a(href="tel:+7(831)4323481")
						| +7(831)432-34-81
					a.mail-a(href="mailto:kuzmin@fks.unn.ru")
						| kuzmin@fks.unn.ru
				.soc-link
					a(href="#")
						img(src="/img/vk.png" alt="")
					a(href="#")
						img(src="/img/f.png" alt="")
					a(href="#")
						img(src="/img/g.png" alt="")
			.burger
				.burger-line