.main
    .main-top.block-top
        .left-sidebar
            include _leftMenu
        .main-content.block-wrap.box
            .main-slider.owl-carousel.owl-theme
                .item
                    a(href="#").item-img(style="background-image:url(/img/slider.jpg)")
                        .item-text
                            h1 Кубок абитуриента ннгу по баскетболу
                            p 3 декабря на факультете физической культуры и спорта Университета Лобачевского
                .item
                    a(href="#").item-img(style="background-image:url(/img/slider.jpg)")
                        .item-text
                            h1 Кубок абитуриента ннгу по баскетболу
                            p 3 декабря на факультете физической культуры и спорта Университета Лобачевского
                .item
                    a(href="#").item-img(style="background-image:url(/img/slider.jpg)")
                        .item-text
                            h1 Кубок абитуриента ннгу по баскетболу
                            p 3 декабря на факультете физической культуры и спорта Университета Лобачевского
                .item
                    a(href="#").item-img(style="background-image:url(/img/slider.jpg)")
                        .item-text
                            h1 Кубок абитуриента ннгу по баскетболу
                            p 3 декабря на факультете физической культуры и спорта Университета Лобачевского
            .main-anons-prev
                h2.main-h3 Мероприятие
                .anons-item
                    .ring-left
                    .ring-right
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
    .main-anons
        .main-anons-wrap
            h2.main-h2 Анонс мероприятий
            .main-anons-slider.owl-carousel.owl-theme
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc Институт экономики и предпринимательства проводит День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
                .item.anons-item
                    p.anons-item-date 08.12.2017
                    p.anons-item-desc День открытых дверей
                    a.btn.anons-item-more(href="#") Подробнее
    .main-news
        .main-news-wrap
            h2.main-h2 Новости
            .main-new
                .main-new-text
                    p.main-new-h3 Овечкин - в топ-20 лучших снайперов НХЛ
                    p.main-new-date Понедельник, 04.12.2017 
                    p.main-new-p Капитан «Вашингтона» Александр Овечкин вошел в число 20 лучших снайперов НХЛ за всю ее историю. В матче с «Сан-Хосе» он забил 578-й гол в карьере и обогнал Марка Рекки (577 голов). 
                    p.main-new-p Символично, что этот гол стал для него 20-м в сезоне. Он снова обогнал Никиту Кучерова и возглавил снайперскую гонку лиги. 
                    p.main-new-p Теперь у Овечкина две новые цели – стать 20-м игроком в истории, кто забьет 600 голов в НХЛ и подвинуть Яри Курри (601 гол) с 19-го места. При нынешнем темпе это вполне можно успеть в текущем сезоне. 
                    a(href="#").btn.btn-white читать далее
                .main-new-img(style="background-image:url(/img/news1.jpg)")
            .main-new.main-reverse
                .main-new-text
                    .main-new-h3 Билли Райдл. Два курса в университете - 2 золота BUCS Nationals
                    .main-new-date Понедельник, 04.12.2017 
                    p.main-new-p Уильям Райдл (William Ridal) - английский скалолаз, студент Sheffield Hallam University, будущий инженер-машиностроитель (Mechanical Engineering). В спортивном скалолазании с 2008 года. Призёр национальных юношеских соревнований Великобритании в боулдеринге и трудности, участник юношеского Кубка Европы по боулдерингу, пробивался в финал чемпионата Великобритании по боулдерингу (2015 - British Bouldering Championship), пробовал силы на этапах Кубка мира по боулдерингу.
                    p.main-new-p Дебютировал на студенческом чемпионате Великобритании BUCS Nationals в 2016-м году, будучи студентом 1-го курса, и сразу завоевал золотую медаль. 
                    a(href="#").btn.btn-white читать далее
                .main-new-img(style="background-image:url(/img/news2.jpg)")
            a(href="#").btn.btn-blue все новости
    .main-sports
        .main-sports-wrap
            .main-sports-text
                h2.main-h2 Спорт
                p.main-sports-p Миссией факультета является обеспечение опережающей системной профессиональной подготовки специалиста в сфере физической культуры, конкурентоспособного в условиях социально-экономических изменений, способного обеспечивать собственный профессиональный рост на протяжении всей жизни.
            table.main-sports-icons
                tr
                    td(align="center" valign="top")
                        img(src="/img/football.png" alt="")
                        span футбол
                        a(href="#") Подробнее
                    td(align="center" valign="top")
                        img(src="/img/basketball.png" alt="")
                        span баскетбол
                        a(href="#") Подробнее
                    td(align="center" valign="top")
                        img(src="/img/tennis.png" alt="")
                        span настольный <br> теннис
                        a(href="#") Подробнее
                    td(align="center" valign="top")
                        img(src="/img/badminton.png" alt="")
                        span бадминтон
                        a(href="#") Подробнее
                tr
                    td(align="center" valign="center")
                        img(src="/img/chess.png" alt="")
                        span шахматы
                        a(href="#") Подробнее
                    td(align="center" valign="center")
                        img(src="/img/hockey.png" alt="")
                        span хоккей
                        a(href="#") Подробнее
                    td(align="center" valign="center")
                        img(src="/img/valleyball.png" alt="")
                        span волейбол
                        a(href="#") Подробнее
                    td(align="center" valign="center")
                        img(src="/img/skiing.png" alt="")
                        span лыжный спорт
                        a(href="#") Подробнее
                tr
                    td(align="center" valign="top")
                        img(src="/img/triathlon.png" alt="")
                        span силовое триборье и <br> гиревой спорт
                        a(href="#") Подробнее
                    td(align="center" valign="top")
                        img(src="/img/fencing.png" alt="")
                        span фехтование
                        a(href="#") Подробнее
                    td(align="center" valign="top")
                        img(src="/img/tennis.png" alt="")
                        span шашки
                        a(href="#") Подробнее
                //- .icon
                //- .icon
                //- .icon
                //- .icon
                //- .icon
                //- .icon
                //- .icon


                      