.container.sports
    .block-sport.row
        .block-sport-item
            h3 спорт
            div
                img(src="img/football.png", alt="")
                a(href="#") футбол
            div
                img(src="img/ikon-2.png", alt="")
                a(href="#") шахматы
            div
                img(src="img/ikon-3.png", alt="")
                a(href="#") баскетбол
            div
                img(src="img/ikon-4.png", alt="")
                a(href="#") хоккей
            div
                img(src="img/ikon-5.png", alt="")
                a(href="#") теннис
            div
                img(src="img/ikon-7.png", alt="")
                a(href="#") футбол
            div
                img(src="img/ikon-8.png", alt="")
                a(href="#") бадминтон
            div
                img(src="img/ikon-9.png", alt="")
                a.giri(href="#") лыжный спорт
            div
                img(src="img/ikon-10.png", alt="")
                a(href="#") фехтование
            div
                img(src="img/ikon-11.png", alt="")
                a.giri(href="#") СИЛОВОЕ ТРИБОРЬЕ
            div
                img(src="img/ikon-12.png", alt="")
                a(href="#") шашки        