.site-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}

.logo-header {
    width: 424px;
    height: 128px;
    background-color: #0079c2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-soc {
    display: flex;
    align-items: center;
    margin-left: 130px;
    .menu {
        display: flex;
        li {
            position: relative;
            a {
                display: block;
                color: #0079c2;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 0.1px;
                padding: 7px 17px;
                white-space: nowrap;
            }
            &:hover {
                background-color: #e5f1f9;
            }
            &:hover .menu-drop {
                display: flex;
            }
        }
        &-arrow {
            position: relative;
            &:after {
                position: absolute;
                content: "";
                width: 11px;
                height: 8px;
                top: 12px;
                right: 3px;
                background-image: url(../img/arrow-blue.png);
                background-repeat: no-repeat;
            }
        }
        &-drop {
            position: absolute;
            left: 0;
            top: 32px;
            display: none;
            flex-direction: column;
            padding: 20px 0;
            border-left: 5px solid #e5f1f9;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 5.4px 0.6px rgba(22, 21, 23, 0.1);
            li {
                a {
                    color: #b3b3b3;
                    &:hover {
                        color: #0079c2;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.soc {
    display: flex;
    align-items: center;
    margin-left: 70px;
    position: relative;
    @media(max-width: 480px) {
        & {
            display: none;
        }
    }
}

.phone {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    white-space: nowrap;
    a {
        color: #818181;
        font-size: 15px;
        &:first-child {
            letter-spacing: 0.8px;
            margin-bottom: 5px;
        }
    }
}

.soc-link {
    display: flex;
    align-items: center;
    img {
        border-radius: 19px;
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12);
        margin-right: 8px;
    }
}

.burger {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    &-line {
        background-color: #0079c2;
        width: 30px;
        height: 4px;
        position: relative;
        border-radius: 3px;
        &:before {
            content: "";
            background-color: #0079c2;
            width: 30px;
            height: 4px;
            position: absolute;
            border-radius: 3px;
            left: 0;
            top: -8px;
        }
        &:after {
            content: "";
            background-color: #0079c2;
            width: 30px;
            height: 4px;
            position: absolute;
            border-radius: 3px;
            left: 0;
            bottom: -8px;
        }
    }
}

.close {
    display: none;
    position: absolute;
    right: 18px;
    top: 18px;
    height: 32px;
    width: 32px;
    &:after,
    &:before {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 1px;
        background-color: #0079c2;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

@media(max-width:1279px) {
    .site-header {
        justify-content: flex-start;
    }
    .logo-header {
        flex-shrink: 0;
        width: 160px;
        height: 70px;
        img {
            width: 140px;
        }
    }
    .menu-soc {
        margin-left: 15px;
        .menu {
            display: none;
        }
        .soc {
            flex-wrap: wrap;
            margin-right: 10px;
            margin-left: 0px;
            justify-content: flex-start;
            .phone {
                a {
                    font-size: 13px;
                }
            }
            .soc-link {
                a {
                    img {
                        width: 28px;
                    }
                }
            }
        }
    }
    .burger {
        display: flex;
    }
    .close {
        display: block;
    }
}



@media(min-width:1280px) and (max-width:1900px) {
    .site-header{
        justify-content: space-between;
        padding-right: 10px;
    }
    .logo-header {
        //width: 25%;
        width: 25.2%;
        img{
            width: 90%;
        }
    }
    .menu-soc {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-left: 50px;
        align-items: flex-end;
    }
    .soc {
        margin-left: 33px;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .phone {
        flex-direction: row;
        &-a {
            margin-right: 20px;
        }
    }
}
@media(min-width:1280px) and (max-width:1365px) {
    .menu-soc {
        margin-left: 15px;
        .menu {
            display: flex;
            li {
                position: relative;
                a {
                    font-size: 14px;
                }
            }
        }
    }
}