.partners {
    &-ikon {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 75px;
        a {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-basis: 22%;
            margin: 0px 0 0 0;
            transition: all .7s;
            
            &:hover  {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            @media(max-width:1830px){
                &{
                    flex-basis: 33%;
                }
            }
            @media(max-width:1280px){
                &{
                    flex-basis: 33%;
                }
            }
            @media(max-width:700px){
                &{
                    flex-basis: 50%;
                }
            }
            @media(max-width:350px){
                &{
                    flex-basis: 100%;
                }
            }
        }
        img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
        p {
            text-align: center;
            padding-top: 31px;
            margin-bottom: 79px;
            font-family: "ProximaNova";
            font-size: 20px;
            color: #b3b3b3;
        }
    }
    &-container-icons {
        width: 100%;
        background-color: #0079c2;
        padding: 74px 0 25px;
    }
    &-container-sport {
        background-color: #f0eeee;
        
    }
    
}