
<div class="block-top">
  <div class="left-sidebar">
    <div class="close"></div>
    <form class="search">
      <input class="search-inp" type="text" placeholder="поиск"/>
      <button class="search-btn"></button>
    </form>
    <ul class="accordion" id="accordion-1">
      <li class="menu-mobile"><a href="#"> <span class="text">Главное Меню</span></a>
        <ul>
          <li><a href="/"> <span class="text">о факультете</span></a>
            <ul>
              <li><a href="#"> <span class="text">Абитуриенту</span></a></li>
              <li><a href="#"> <span class="text">студенту</span></a></li>
              <li><a href="#"> <span class="text">Учебно-лабораторная база</span></a></li>
              <li><a href="#"><span class="text">спорт</span></a></li>
              <li><a href="#"><span class="text">наука</span></a></li>
              <li><a href="#"><span class="text">вакансии</span></a></li>
              <li><a href="#"><span class="text">контакты</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span class="text">Абитуриенту</span></a></li>
          <li><a href="#"><span class="text">студенту</span></a></li>
          <li><a href="#"><span class="text">поступающим</span></a></li>
          <li><a href="#"><span class="text">спорт</span></a></li>
          <li><a href="#"><span class="text">наука</span></a></li>
          <li><a href="#"><span class="text">вакансии</span></a></li>
          <li><a href="#"><span class="text">контакты</span></a></li>
        </ul>
      </li>
      <li><a href="#"> <span class="text rasp">Расписание</span></a>
        <ul>
          <li><a href="#"><span class="text">Занятия</span></a></li>
          <li><a href="#"><span class="text">Секции</span></a></li>
          <li><a href="#"><span class="text">Тренировки</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span class="text">заказ справок</span></a>
        <ul>
          <li><a href="#"><span class="text">Заказ справок (Дневное отделение)</span></a></li>
          <li><a href="#"><span class="text">Заказ справок (Заочное отделение)</span></a></li>
          <li><a href="#"><span class="text">Заказ справок-вызовов</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span class="text">Меню</span></a>
        <ul>
          <li><a href="#"><span class="text">Вакансии</span></a></li>
          <li><a href="#"><span class="text">Дневное отделение</span></a></li>
          <li><a href="#"><span class="text">Магистратура</span></a></li>
          <li><a href="#"><span class="text">Ваш вопрос</span></a></li>
          <li><a href="#"><span class="text">Преподавателям</span></a></li>
          <li><a href="#"><span class="text">Библиотека</span></a></li>
          <li><a href="#"><span class="text">Видео</span></a></li>
          <li><a href="#"><span class="text">Фотогалерея</span></a></li>
          <li><a href="#"><span class="text">Выпускникам</span></a></li>
          <li><a href="#"><span class="text">Достижения студентов</span></a></li>
          <li><a href="#"><span class="text">Центр спортивных инициатив</span></a></li>
          <li><a href="#"><span class="text">Спортивный комплекс ННГУ</span></a></li>
          <li><a href="#"><span class="text">Старая версия сайта</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span class="text">Архив новостей</span></a></li>
    </ul>
    <div class="soc">
      <div class="phone"><a class="phone-a" href="tel:+7(831)4323481">+7(831)432-34-81</a><a class="mail-a" href="mailto:kuzmin@fks.unn.ru">kuzmin@fks.unn.ru</a></div>
      <div class="soc-link"><a href="#"><img src="/img/vk.png" alt=""/></a><a href="#"><img src="/img/f.png" alt=""/></a><a href="#"><img src="/img/g.png" alt=""/></a></div>
    </div>
  </div>
  <div class="block-wrap">
    <div class="breadcrumbs"><a href="#">Новости</a>
      <p>/</p><span>Старница</span>
    </div>
    <div class="content">
      <h1>бадминтон</h1>
      <div class="foto-gallery box">
        <div class="gallery" style="background-image:url(../img/95.jpg);" data-src="/img/95.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/DSC00944.jpg);" data-src="/img/DSC00944.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/P1060119.jpg);" data-src="/img/P1060119.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/P1070261.jpg);" data-src="/img/P1070261.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/P1080326.jpg);" data-src="/img/P1080326.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/P1080333.jpg);" data-src="/img/P1080333.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/P1234567.jpg);" data-src="/img/P1234567.jpg" data-fancybox="images"></div>
        <div class="gallery" style="background-image:url(../img/P11953197.jpg);" data-src="/img/P11953197.jpg" data-fancybox="images"></div>
      </div><a href="#">презентация команды</a>
      <h3 style="text-align: center;">СБОРНАЯ ННГУ ПО БАДМИНТОНУ 2017</h3>
      <div class="box" style="overflow-y:auto;">
        <table>
          <thead>
            <tr>
              <td>Фамилия Имя</td>
              <td>Звание</td>
              <td>Факультет</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Каргаев Родион</td>
              <td>МС </td>
              <td>ИЭП</td>
            </tr>
            <tr> 
              <td>Камышенков Илья</td>
              <td>КМС</td>
              <td>ИЭП</td>
            </tr>
            <tr> 
              <td>Малов Данила</td>
              <td>КМС</td>
              <td>ФСН</td>
            </tr>
            <tr> 
              <td>Венедиктов Илья</td>
              <td>МС</td>
              <td>ФКС</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p> <strong>Главный тренер: Гутко Александр Владимирович</strong></p>
      <p> <strong>Тренер: Неумоина Светлана Николаевна</strong></p>
      <div class="foto-gallery1 box">
        <div class="gallery1" style="background-image:url(../img/Sbornaya.jpg);" data-src="/img/Sbornaya.jpg" data-fancybox="images"></div><span>сборная ННГУ по бадминтону 2015</span>
      </div>
      <hr/>
    </div>
  </div>
</div>