
<div class="body-fon">
  <div class="body-fon-container">
    <div class="body-fon-text">
      <h1>Услуги</h1>
    </div>
  </div>
</div>
<div class="brend-fon">
  <div class="brend-container">
    <div class="brend-left">
      <div class="logo-brend"><img src="img/brend0.png" alt=""/></div>
      <div class="text">
        <p>
          Мы предоставляем нашим клиентам технологии для создания прозрачных корпоративных IT инфраструктур нового поколения, путем объефункций обработки, хранения данных и виртуализации в готовое "под ключ" гиперконвергентное решение. Наиболее передовые дата-центры в мире полагаются на веб-масштабируемые облачные технологии Nutanix для поддержки своих критически важных приложений любого масштаба и уровня сложности.
          Отдел продаж: <a href="#">sales@navicadata.ru</a>Техническая консультация: <a href="#">nutanix-support@navicadata.ru</a>
        </p>
      </div>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IKdzcwMY950" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
      </div>
      <div class="text">
        <h3>Вызовы, стоящие сегодня перед корпоративными IT службами</h3>
        <p>От IT инфраструктур ожидают выполнения все большего объема работы, с повышением темпов при существенном уменьшении затрат. Требуются новые способы быстрого разворачивания бизнес-приложений и ИТ-услуг при снижении общей стоимости владения.</p>
        <div class="text1">
          <h4>Дорого и сложно</h4>
          <p class="ikon1">Приобретение, развертывание, управление и масштабирование инфраструктуры центров обработки данных требуют больших финансовых и временных затрат.</p>
        </div>
        <div class="text2">
          <h4>Разбиение IT на изолированные участки</h4>
          <p class="ikon1">Построение IT инфраструктур, созданных с помощью раздельных серверов, систем хранения данных и локализованного сетевого доступа, приводит к отсутствию гибкости и требует узкоспециальных знаний.</p>
        </div>
        <div class="text3">
          <h4>Нет времени для внедрения инноваций</h4>
          <p class="ikon1">Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.</p>
        </div>
        <p>Современные IT службы требуют инфраструктуру нового поколения, обеспечивающую гибкость и экономику сопоставимую с публичными облачными сервисами, но с сохранением безопасности и надежности приватных дата-центров.</p>
      </div>
      <div class="fon-text1">
        <h3>Что представляет собой гиперконвергентная инфраструктура?</h3>
        <p class="ikon1">Гиперконвергентная инфраструктура комбинирует функции обработки и хранения данных внутри физических серверов на базе процессоров x86, объединенных в горизонтально-масштабируемые кластера. За счет этого значительно сокращается потребление электроэнергии и места в ЦОД-ах, так же как нивелируются проблемы традиционных подходов к хранению данных.</p><img class="img1" src="img/brend_fon.png" alt=""/>
      </div>
      <div class="fon-text1">
        <h3>Упрощение IT инфраструктуры</h3>
        <p class="ikon1">
          Благодаря объединению функций хранения данных и слоя виртуализации в едином решении от Nutanix, устраняется зависимость от устаревших гипервизоров и обеспечивается прозрачность прослойки виртуализации.
          Интегрированная платформа управления обеспечивает реальное управление инфраструктурой "одним щелчком", включая аналитику и автоматическое устранение сбоев.
        </p><img class="img1" src="img/brend_fon1.png" alt=""/>
      </div>
      <div class="fon-text">
        <div>
          <h3>Включите мобильность приложений</h3>
          <p class="ikon1">App Mobility Fabric (AMF) представляет собой набор ключевых технологий, благодаря которым приложения не "запираются" в рамках корпоративной IT платформы, а могут перемещаться вместе с данными между приватными и публичными облачными средами. Такая мобильность позволяет IT руководителям самостоятельно решать, когда и как они будут использовать приватные и публичные облачные инфраструктуры, исходя только из потребностей бизнеса.</p>
        </div><img src="img/fon-text.png" alt=""/>
      </div>
      <div class="fon-text1">
        <h3>Как мы это делаем</h3>
        <p class="ikon1">иперконвергентные решения Nutanix уникальны ввиду использования только веб-масштабируемых технологий и архитектурных подходов, берущих свое начало в крупнейших интернет и облачных компаниях (таких как Google, Facebook и Amazon).</p>
      </div>
      <div class="text">
        <div class="text4">
          <h4>Дорого и сложно</h4>
          <p class="ikon1">Приобретение, развертывание, управление и масштабирование инфраструктуры центров обработки данных требуют больших финансовых и временных затрат.</p>
        </div>
        <div class="text5">
          <h4>Разбиение IT на изолированные участки</h4>
          <p class="ikon1">Построение IT инфраструктур, созданных с помощью раздельных серверов, систем хранения данных и локализованного сетевого доступа, приводит к отсутствию гибкости и требует узкоспециальных знаний.</p>
        </div>
        <div class="text6">
          <h4>Нет времени для внедрения инноваций</h4>
          <p class="ikon1">Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.</p>
        </div>
        <div class="text7">
          <h4>Нет времени для внедрения инноваций</h4>
          <p class="ikon1">Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.</p>
        </div>
      </div>
      <div class="fon-text3">
        <div class="left">
          <h3>Преимущества для Вас</h3>
          <div class="text8">
            <h4>Снижение затрат</h4>
            <p class="ikon1">Снижение капитальных и эксплуатационных расходов на 40-60%.</p>
          </div>
          <div class="text9">
            <h4>Безграничная масштабируемость</h4>
            <p class="ikon1">Предсказуемое масштабирование инфраструктуры без ограничений.</p>
          </div>
          <div class="text10">
            <h4>Время для ИТ-инноваций</h4>
            <p class="ikon1">Бесплатные ИТ-ресурсы с фокусом на ваши важные бизнес-инициативы и настоящие инновации.</p>
          </div>
        </div>
        <div class="right">
          <div class="text11">
            <h4>Cамый быстрый ввод в эксплуатацию</h4>
            <p class="ikon1">Ввод в промышленную эксплуатацию при покупке, развертывании и управлении инфраструктурой происходит в 8 раз быстрее.</p>
          </div>
          <div class="text12">
            <h4>Наименьший расход ресурсов</h4>
            <p class="ikon1">Снижение энергопотребления, расходов на охлаждение и занимаемого места в центрах обработки данных до 90%, с применением форм-фактора 2U.</p>
          </div>
        </div>
      </div>
      <div class="fon-text4">
        <div class="left">
          <h3>Любые нагрузки любых масштабов</h3>
          <p>Виртуализация рабочих мест VMware Horizon w/ View</p>
          <p>Hadoop</p>
          <p>VMware vRealize</p>
          <p>Унифицированные коммуникации</p>
          <p>Microsoft Exchange</p>
          <p>Oracle</p>
          <p>SAP</p>
        </div>
        <div class="right">
          <p>Виртуализация рабочих мест Citrix XenDesktop и XenApp</p>
          <p>Splunk</p>
          <p>Microsoft Sharepoint</p>
          <p>Microsoft SQL Server</p>
          <p>Приватные облачные решения Microsoft Azure Pack</p>
        </div>
      </div>
    </div>
    <div class="brend-right">
      <div class="menu">
        <h3>Бренды</h3>
        <ul class="nav">
          <li><a class="nav1" href="#">Nutanix</a>
            <ul class="subnav">
              <li><a href="#">О nutanix</a></li>
              <li><a href="#">Обзор решений</a></li>
              <li><a href="#">Продукты</a></li>
              <li><a href="#">Prism</a></li>
            </ul>
          </li>
          <li><a class="nav1" href="#">ArgoTech</a>
            <ul class="subnav">
              <li><a href="#">О nutanix</a></li>
              <li><a href="#">Обзор решений</a></li>
              <li><a href="#">Продукты</a></li>
              <li><a href="#">Prism</a></li>
            </ul>
          </li>
          <li><a class="nav1" href="#">Arista</a>
            <ul class="subnav">
              <li><a href="#">nutanix</a></li>
              <li><a href="#">nutanix</a></li>
              <li><a href="#">nutanix</a></li>
              <li><a href="#">nutanix</a></li>
            </ul>
          </li>
          <li><a href="#">nutanix</a></li>
          <li><a href="#">nutanix</a></li>
          <li><a href="#">nutanix</a></li>
          <li><a href="#">nutanix</a></li>
          <li><a href="#">nutanix</a></li>
        </ul>
      </div>
      <div class="bar-coll">
        <h3>Заказать звонок</h3>
        <div>
          <textarea id="text" name="text" col="100" placeholder="Имя"></textarea>
        </div>
        <div>
          <textarea id="text" name="text" col="100" placeholder="Телефон"></textarea>
        </div>
        <input class="bar-btn" type="submit" value="Отправить"/>
      </div>
    </div>
  </div>
</div>