
<div class="body-footer">
  <div class="container-footer">
    <div class="footer-top">
      <div class="footer-logo"><img class="one" src="img/footerlogo.png" alt=""/></div>
      <div class="address"><img class="one" src="img/figura.png" alt=""/>
        <p class="footer-text">г. Москва 109004 ул Земляной Вал 50А 8 с2</p>
      </div>
      <div class="tel"><img class="one" src="img/tel.png" alt=""/><a href="tel:+7 (495) 502-99-20">+7 495 150 39 93</a></div>
      <div class="mail"><img class="one" src="img/mail.png" alt=""/><a href="#">info@navicadata.ru</a></div>
      <div class="social"><img class="one" src="img/vk.png" alt=""/><img src="img/face.png" alt=""/></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-text">@ Navicadata. Все права защищены.</div>
      <div class="footer-text">разарботка сайта: <a href="#">beluga labs</a></div>
    </div>
  </div>
</div>