
<div class="body-footer">
  <div class="container-footer">
    <div class="footer-top">
      <div class="text01">A1.112</div>
      <div class="address"><img class="one" src="img/figura.png" alt=""/>
        <p class="footer-text">г. Нижний Новгород</p>
      </div>
      <div class="tel"><img class="one" src="img/tel.png" alt=""/><a href="tel:+7 (987) 394-06-76">+7 (987) 394-06-76</a></div>
      <div class="mail"><img class="one" src="img/mail.png" alt=""/><a href="A1.112@yandex.ru">A1.112@yandex.ru</a></div>
      <div class="social"><a href="https://vk.com/"><img class="one" src="img/vk.png" alt=""/></a></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-text">Все права защищены.</div>
      <div class="footer-text">разарботка сайта: <a href="#"> </a></div>
    </div>
  </div>
</div>