
<header class="header">
  <div class="header-container">
    <div class="head-logo">
      <div class="text0">A1.112</div>
    </div>
    <div class="head-menu">
      <ul class="header-menu">
        <li class="drop"><a class="nav" href="#section">бренды</a>
          <ul>
            <li><a href="#">brend</a></li>
            <li><a href="#">brend</a></li>
            <li><a href="#">brend</a></li>
            <li><a href="#">brend</a></li>
          </ul>
        </li>
        <li class="drop"><a class="nav" href="#">услуги</a>
          <ul>
            <li><a href="#">brend</a></li>
          </ul>
        </li>
        <li><a class="nav" href="#">о компании</a></li>
        <li><a class="nav" href="#">контакты</a></li>
      </ul>
    </div>
    <div class="head-tel">
      <div class="social">
        <div class="mails"></div><a href="A1.112@yandex.ru"><img src="img/email.png" alt="" width="32px" height="32px"/></a><a href="A1.112@yandex.ru"><img src="img/telegram.png" alt="" width="32px" height="32px"/></a><a href="https://vk.com"><img src="img/vk.png" alt="" width="32px" height="32px"/></a>
      </div><a href="tel:+7 (987) 394-06-76">+7 (987) 394-06-76	</a>
    </div><a class="mobale-link"><span></span></a>
    <div class="mobale">
      <ul>
        <li><a href="#brend">бренды</a></li>
        <li><a href="#prais">услуги</a></li>
        <li><a href="#company">о компании</a></li>
        <li><a href="#">контакты</a></li>
      </ul>
      <div class="tel_mobale">
        <div class="socials">
          <div class="mails"></div><a href="A1.112@yandex.ru"><img src="img/Mail_31108.png" alt="" width="35px" height="35px"/></a><a href="A1.112@yandex.ru"><img src="img/telegram.png" alt="" width="32px" height="32px"/></a><a href="https://vk.com"><img src="img/vk.png" alt="" width="32px" height="32px"/></a>
        </div>
        <div class="tel"><a href="tel:+7 (987) 394-06-76">+7 (987) 394-06-76</a></div>
      </div>
    </div>
  </div>
</header>