
<div class="body">
  <div class="container-body" id="company">
    <div class="body-text">
      <h1>Официальный дистрибьютор<br/> электрооборудования</h1>
      <p>A1.112 является официальным партнером ведущих <br/> мировых вендоров.</p>
    </div><a class="text-btn" href="#">
      <div class="btn btn-blue">подробнее</div></a>
  </div>
</div>
<div class="brand-body" id="brend">
  <div class="container-brand">
    <div class="text-brand">Наши бренды</div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/alur.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/abb.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/cabelniyalyans.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/csoft.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/dkc.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/ekf.png" alt=""/></div>
        </div>
        <div class="swiper-slide">
          <div class="logo"><img src="img/energomera.png" alt=""/></div>
        </div>
        <div class="swiper-slide">
          <div class="logo"><img src="img/galad.png" alt=""/></div>
        </div>
        <div class="swiper-slide">
          <div class="logo"><img src="img/hyperline.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/iek.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/itk.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/jazzway.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/keaz.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/konkord.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/kontaktor.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/legrend.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/nanosoft.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/nanosoft_ipro.png" alt=""/></div>
        </div>
        <div class="swiper-slide">
          <div class="logo"><img src="img/navigator.png" alt=""/></div>
        </div>
        <div class="swiper-slide">
          <div class="logo"><img src="img/nexans.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/philips.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/rek.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/se.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/siemens.png" alt=""/></div>
        </div>
        <div class="swiper-slide"> 
          <div class="logo"><img src="img/svetovietechnologii.png" alt=""/></div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<div class="body-slider" id="prais">
  <div class="container-slider">
    <div class="text-slider">
      <p>наш товар</p>
    </div>
    <div class="prais">
      <div class="prais_item1">
        <p class="text-slider">Комерчиские проекты </p>
        <div class="foto" style="background-image:url(../img/14921430539377.jpg);"></div><a class="text-btn" href="#">
          <div class="btn btn-blue">подробнее</div></a>
      </div>
      <div class="prais_item2">
        <p class="text-slider">Частные лица</p>
        <div class="foto" style="background-image:url(../img/14921430539377.jpg);"></div><a class="text-btn" href="#">
          <div class="btn btn-blue">подробнее</div></a>
      </div>
    </div>
  </div>
</div>