
<div class="body">
  <div class="container-body">
    <div class="body-text">
      <h1>Официальный дистрибьютор<br/> IT  оборудования</h1>
      <p>Компания Навика Дата является официальным дистрибьютором ведущих <br/> мировых вендоров.</p>
    </div>
    <div class="body-btn"><a class="text-btn" href="#">подробнее</a></div>
  </div>
</div>
<div class="brand-body">
  <div class="container-brand">
    <div class="text-brand">Наши бренды</div>
    <div class="logo-brand">
      <div class="logo"><img src="img/brend.png" alt=""/></div>
      <div class="logo"><img src="img/brend3.png" alt=""/></div>
      <div class="logo"><img src="img/brend5.png" alt=""/></div>
      <div class="logo"><img src="img/brend7.png" alt=""/></div>
      <div class="logo"><img src="img/brend9.png" alt=""/></div>
    </div>
    <div class="logo-brand">
      <div class="logo"><img src="img/brend2.png" alt=""/></div>
      <div class="logo"><img src="img/brend4.png" alt=""/></div>
      <div class="logo"><img src="img/brend6.png" alt=""/></div>
      <div class="logo"><img src="img/brend8.png" alt=""/></div>
      <div class="logo"><img src="img/brend10.png" alt=""/></div>
    </div>
  </div>
</div>
<div class="body-sol">
  <div class="container-sol">
    <div class="text-sol">
      <h4>Комплексные решения</h4>
      <p>Помимо IT оборудования, мы также предлагаем полный спектр <br/> сопутствующих услуг:</p>
    </div>
    <div class="ikon-sol">
      <div class="ikon">
        <div><img src="img/ikon.png" alt=""/></div><a href="#">Логистические и <br/> транспортные услуги</a>
      </div>
      <div class="ikon">
        <div><img src="img/ikon2.png" alt=""/></div><a href="#">IT аутсорсинг</a>
      </div>
      <div class="ikon">
        <div><img src="img/ikon3.png" alt=""/></div><a href="#">IT консалтинг</a>
      </div>
      <div class="ikon">
        <div><img src="img/ikon4.png" alt=""/></div><a href="#">Организация услуг <br/> защищенной связи и <br/> передачи данных</a>
      </div>
      <div class="ikon">
        <div><img src="img/ikon5.png" alt=""/></div><a href="#">Предоставление облачных <br/> сервисов</a>
      </div>
    </div>
  </div>
</div>
<div class="body-slider">
  <div class="container-slider">
    <div class="text-slider">
      <p>Блог</p>
    </div>
    <div class="box-slider owl-carousel owl-theme">
      <div class="item">
        <div class="slider1">
          <div class="slider-fon"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
        <div class="slider2">
          <div class="slider-fon1"></div>
          <div class="text-slider1">
            <h3>Консультация с широким активом способствует подготовке</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider1">
          <div class="slider-fon2"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
        <div class="slider2">
          <div class="slider-fon3"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider1">
          <div class="slider-fon"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
        <div class="slider2">
          <div class="slider-fon1"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider1">
          <div class="slider-fon2"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
        <div class="slider2">
          <div class="slider-fon3"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider1">
          <div class="slider-fon"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
        <div class="slider2">
          <div class="slider-fon1"></div>
          <div class="text-slider1">
            <h3>Постоянный рост и сфера нашей активности</h3>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов ...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>