<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/simplebar.css"/>
    <link rel="stylesheet" href="css/fSelect.css"/>
    <link rel="stylesheet" href="css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="fonts/ProximaNova/stylesheet.css"/>
    <link rel="stylesheet" href="fonts/open sans/stylesheet.css"/>
    <link rel="stylesheet" href="fonts/glober/stylesheet.css"/>
    <link rel="stylesheet" href="fonts/open sans2/opensans.css"/><link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>
    <title>Title</title>
  </head>
  <body>
    <div class="all-wrapper">
      <header class="header">
        <div class="header-container">
          <div class="burger"></div>
          <div class="head-logo"><img src="img/logo.png" alt=""/></div>
          <div class="head-menu">
            <ul class="header-menu">
              <li class="drop"><a href="#">бренды</a>
                <ul>
                  <li><a href="#">brend</a></li>
                  <li><a href="#">brend</a></li>
                  <li><a href="#">brend</a></li>
                  <li><a href="#">brend</a></li>
                </ul>
              </li>
              <li class="drop"><a href="#">услуги</a>
                <ul>
                  <li><a href="#">brend</a></li>
                  <li><a href="#">brend</a></li>
                  <li><a href="#">brend</a></li>
                  <li><a href="#">brend</a></li>
                </ul>
              </li>
              <li><a href="#">о компании</a></li>
              <li><a href="#">блог</a></li>
              <li><a href="#">контакты</a></li>
            </ul>
          </div>
          <div class="text0">|</div>
          <div class="lang">
            <select name="" id="">
              <option value="">ру</option>
              <option value="">en</option>
            </select>
          </div>
          <div class="head-tel"><a href="tel:+7 (495) 150-39-93">+7 (495) 150-39-93</a></div>
        </div>
      </header>
    </div>
    <div class="body-footer">
      <div class="container-footer">
        <div class="footer-top">
          <div class="footer-logo"><img class="one" src="img/footerlogo.png" alt=""/></div>
          <div class="address"><img class="one" src="img/figura.png" alt=""/>
            <p class="footer-text">г. Москва 109004 ул Земляной Вал 50А 8 с2</p>
          </div>
          <div class="tel"><img class="one" src="img/tel.png" alt=""/><a href="tel:+7 (495) 502-99-20">+7 495 150 39 93</a></div>
          <div class="mail"><img class="one" src="img/mail.png" alt=""/><a href="#">info@navicadata.ru</a></div>
          <div class="social"><img class="one" src="img/vk.png" alt=""/><img src="img/face.png" alt=""/></div>
        </div>
        <div class="footer-bottom">
          <div class="footer-text">@ Navicadata. Все права защищены.</div>
          <div class="footer-text">разарботка сайта: <a href="#">beluga labs</a></div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="lib/jquery.inputmask.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/accordion-cookie.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/simplebar.js"></script>
    <script src="js/fSelect.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.maskedinput.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://unpkg.com/systemjs@0.19.39/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>SystemJS.import('js');</script>
  </body>
</html>