
<div class="leadships">
  <div class="leadships-top block-top">
    <div class="left-sidebar">
      <div class="close"></div>
      <form class="search">
        <input class="search-inp" type="text" placeholder="поиск"/>
        <button class="search-btn"></button>
      </form>
      <ul class="accordion" id="accordion-1">
        <li class="menu-mobile"><a href="#"> <span class="text">Главное Меню</span></a>
          <ul>
            <li><a href="/"> <span class="text">о факультете</span></a>
              <ul>
                <li><a href="#"> <span class="text">Абитуриенту</span></a></li>
                <li><a href="#"> <span class="text">студенту</span></a></li>
                <li><a href="#"> <span class="text">Учебно-лабораторная база</span></a></li>
                <li><a href="#"><span class="text">спорт</span></a></li>
                <li><a href="#"><span class="text">наука</span></a></li>
                <li><a href="#"><span class="text">вакансии</span></a></li>
                <li><a href="#"><span class="text">контакты</span></a></li>
              </ul>
            </li>
            <li><a href="#"><span class="text">Абитуриенту</span></a></li>
            <li><a href="#"><span class="text">студенту</span></a></li>
            <li><a href="#"><span class="text">поступающим</span></a></li>
            <li><a href="#"><span class="text">спорт</span></a></li>
            <li><a href="#"><span class="text">наука</span></a></li>
            <li><a href="#"><span class="text">вакансии</span></a></li>
            <li><a href="#"><span class="text">контакты</span></a></li>
          </ul>
        </li>
        <li><a href="#"> <span class="text rasp">Расписание</span></a>
          <ul>
            <li><a href="#"><span class="text">Занятия</span></a></li>
            <li><a href="#"><span class="text">Секции</span></a></li>
            <li><a href="#"><span class="text">Тренировки</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="text">заказ справок</span></a>
          <ul>
            <li><a href="#"><span class="text">Заказ справок (Дневное отделение)</span></a></li>
            <li><a href="#"><span class="text">Заказ справок (Заочное отделение)</span></a></li>
            <li><a href="#"><span class="text">Заказ справок-вызовов</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="text">Меню</span></a>
          <ul>
            <li><a href="#"><span class="text">Вакансии</span></a></li>
            <li><a href="#"><span class="text">Дневное отделение</span></a></li>
            <li><a href="#"><span class="text">Магистратура</span></a></li>
            <li><a href="#"><span class="text">Ваш вопрос</span></a></li>
            <li><a href="#"><span class="text">Преподавателям</span></a></li>
            <li><a href="#"><span class="text">Библиотека</span></a></li>
            <li><a href="#"><span class="text">Видео</span></a></li>
            <li><a href="#"><span class="text">Фотогалерея</span></a></li>
            <li><a href="#"><span class="text">Выпускникам</span></a></li>
            <li><a href="#"><span class="text">Достижения студентов</span></a></li>
            <li><a href="#"><span class="text">Центр спортивных инициатив</span></a></li>
            <li><a href="#"><span class="text">Спортивный комплекс ННГУ</span></a></li>
            <li><a href="#"><span class="text">Старая версия сайта</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="text">Архив новостей</span></a></li>
      </ul>
      <div class="soc">
        <div class="phone"><a class="phone-a" href="tel:+7(831)4323481">+7(831)432-34-81</a><a class="mail-a" href="mailto:kuzmin@fks.unn.ru">kuzmin@fks.unn.ru</a></div>
        <div class="soc-link"><a href="#"><img src="/img/vk.png" alt=""/></a><a href="#"><img src="/img/f.png" alt=""/></a><a href="#"><img src="/img/g.png" alt=""/></a></div>
      </div>
    </div>
    <div class="leadships-content block-wrap">
      <div class="breadcrumbs"><a href="#">Новости</a>
        <p>/</p><span>Старница</span>
      </div>
      <div class="leadships-foto">
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/foto-1.jpg);"></div>
          <div class="text">   
            <h1><a href="#">Орлова Елена Аркадьевна</a></h1>
            <h3>Исполняющая обязанности декана факультета </h3>
            <p>
              Доцент, кандидат экономических наук, мастер спорта. Награждена Почетной Грамотой Министерства образования за многолетний добросовестный труд в системе высшего профессионального образования, Почетным Дипломом Губернатора
              Нижегородской области за большой вклад в развитие образования и науки Нижегородской области.
            </p><span><a href="#"><i class="fa fa-envelope"> </i>mail@example.ru</a><a href="#"> <i class="fas fa-mobile"></i>+7(999) 999-999-99</a></span>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/Kuzmin-Vadim-Gennadevich.jpg);"></div>
          <div class="text">   
            <h1> <a href="#">Кузьмин Вадим Геннадьевич</a></h1>
            <h3>Заведующий кафедрой теории и методики прикладных и технических видов спорта</h3>
            <p>
              Кандидат физико-математических наук, профессор, заслуженный профессор нашего университета, член совета по физическойкультуре и спорту при Губернаторе Нижегородской области.</p>
            <p>
              Заслуженный работник физической культуры Российской Федерации, мастер спорта международного класса, судьявсесоюзной категории, награжден медалью ордена «За заслуги перед Отечеством » II степени, медалью «80 лет Госкомспорту 
              России», медалью «Петра Лесгафта», почетным знаком «За заслуги в развитии физической культуры и спорта». 
              Декан факультета физической культуры и спорта Университета Лобачевского 2001 — 2017 гг. 
            </p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/44-245x300.jpg);"></div>
          <div class="text">   
            <h1> <a href="#">Кутасин Александр Николаевич</a></h1>
            <h3>Заведующий кафедрой организации физкультурно-спортивной деятельности </h3>
            <p>Заведующий кафедрой организации физкультурно-спортивной деятельности </p>
            <p>
               Общий педагогический стаж работы профессиональной деятельности Кутасина А.Н. составляет 29 лет, в ННГУ им Н.И.<br/>Лобачевского – 7 лет.   </p>
            <p>
              Награжден правительственными и ведосмственными медалями, имеет почетные грамоты и благодарные письма отадминистрации города и нижегородской области. Является мастером спорта по многоборью. </p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/20-1-258x300.jpg);"></div>
          <div class="text">   
            <h1> <a href="#"> Гутко Александр Владимирович</a></h1>
            <h3>
               возглавляет Кафедру игровых видов спорта кандидат психологических наук,<br/>доцент, мастер спорта, Чемпион СССР по бадминтону</h3>
            <p>
              Награжден знаком «Отличник физической культуры и спорта».Он тренер сборной команды России, которая в 2006 году впервые в истории студенческого бадминтона
              завоевала серебряные медали Чемпионата Мира. Команда ННГУ в течение последних лет успешно выступалет на студенческих 
              Чемпионатах России и Европы.
            </p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/9-1-226x300.jpg);"></div>
          <div class="text">  
            <h1> <a href="#"> Полетаева Ольга Николаевна</a></h1>
            <h3>Заместителем декана по учебной работе является доцент</h3>
            <p>
              мастер спорта по лыжным гонкам, имеет международный сертификат по аэробике и шейпингу, награждена знаком «Отличникфизической культуры и спорта».</p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/Kuzmina-Svetlana-Vladimirovna-218x300.jpg);"></div>
          <div class="text">    
            <h1> <a href="#">Соколовская Светлана Владимировна</a></h1>
            <h3>
               Заместителем декана по заочному отделению и дополнительным формам <br/>обучения является кандидат психологических наук, доцент</h3>
            <p>Заместителем декана по заочному отделению и дополнительным формам обучения является кандидат психологических наук, доцент</p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/3-1-246x300.jpg);"></div>
          <div class="text">    
            <h1> <a href="#">Малышева Татьяна Александровна</a></h1>
            <h3>Заместителем декана по научной работе является старший преподаватель</h3>
            <p>Награждена почетной грамотой Министерства образования и науки РФ</p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/Filonov-Leonid-242x300.jpg);"></div>
          <div class="text">    
            <h1> <a href="#">Филонов Леонид Викторович</a></h1>
            <h3>Заместитель декана по профориентации со школьниками</h3>
            <p></p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/13-11-276x300.jpg);"></div>
          <div class="text">    
            <h1> <a href="#">Федотова Майя Игоревна</a></h1>
            <h3>Заместитель декана по физической культуре</h3>
            <p></p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/11-1-235x300.jpg);"></div>
          <div class="text">    
            <h1> <a href="#">Устюхова Наталья Николаевна</a></h1>
            <h3>
               заместитель декана по воспитательной работе, старший преподаватель, <br/>тренер сборной ННГУ по лыжным гонкам.</h3>
            <p> </p>
          </div>
        </div>
        <div class="foto-item">
          <div class="foto" style="background-image:url(../img/lebedev1.jpg);"></div>
          <div class="text">    
            <h1> <a href="#">Лебедев Юрий Александрович</a></h1>
            <h3>
               Профессор кафедры теории и методики прикладных и технических видов спорта, <br/>заслуженный тренер России</h3>
            <p>
              мастер спорта по шашкам, награжден медалью «80 лет Госкомспорта России» и почетным знаком «За заслуги в развитии физической культуры и спорта».Среди его воспитанников не мало мастеров спорта, призеров чемпионатов мира, России и бывшего СССР.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container fastLink">
  <div class="block-icons row"><a class="block-icons-item" href="#">
      <div><img src="img/ikon_1.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Руководство</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_2.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Кафедры</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_3.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Дисциплины</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_4.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Учебно-лабораторная<br/>база</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_5.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Наши партнеры</p></a><a class="block-icons-item" href="#">
      <div><img src="img/ikon_6.png" alt=""/>
        <div class="ring"></div>
      </div>
      <p>Наши победы</p></a></div>
</div>
<div class="container sports">
  <div class="block-sport row">
    <div class="block-sport-item">
      <h3>спорт</h3>
      <div><img src="img/football.png" alt=""/><a href="#">футбол</a></div>
      <div><img src="img/ikon-2.png" alt=""/><a href="#">шахматы</a></div>
      <div><img src="img/ikon-3.png" alt=""/><a href="#">баскетбол</a></div>
      <div><img src="img/ikon-4.png" alt=""/><a href="#">хоккей</a></div>
      <div><img src="img/ikon-5.png" alt=""/><a href="#">теннис</a></div>
      <div><img src="img/ikon-7.png" alt=""/><a href="#">футбол</a></div>
      <div><img src="img/ikon-8.png" alt=""/><a href="#">бадминтон</a></div>
      <div><img src="img/ikon-9.png" alt=""/><a class="giri" href="#">лыжный спорт</a></div>
      <div><img src="img/ikon-10.png" alt=""/><a href="#">фехтование</a></div>
      <div><img src="img/ikon-11.png" alt=""/><a class="giri" href="#">СИЛОВОЕ ТРИБОРЬЕ</a></div>
      <div><img src="img/ikon-12.png" alt=""/><a href="#">шашки        </a></div>
    </div>
  </div>
</div>