
<div class="container sports">
  <div class="block-sport row">
    <div class="block-sport-item">
      <h3>спорт</h3>
      <div><img src="img/football.png" alt=""/><a href="#">футбол</a></div>
      <div><img src="img/ikon-2.png" alt=""/><a href="#">шахматы</a></div>
      <div><img src="img/ikon-3.png" alt=""/><a href="#">баскетбол</a></div>
      <div><img src="img/ikon-4.png" alt=""/><a href="#">хоккей</a></div>
      <div><img src="img/ikon-5.png" alt=""/><a href="#">теннис</a></div>
      <div><img src="img/ikon-7.png" alt=""/><a href="#">футбол</a></div>
      <div><img src="img/ikon-8.png" alt=""/><a href="#">бадминтон</a></div>
      <div><img src="img/ikon-9.png" alt=""/><a class="giri" href="#">лыжный спорт</a></div>
      <div><img src="img/ikon-10.png" alt=""/><a href="#">фехтование</a></div>
      <div><img src="img/ikon-11.png" alt=""/><a class="giri" href="#">СИЛОВОЕ ТРИБОРЬЕ</a></div>
      <div><img src="img/ikon-12.png" alt=""/><a href="#">шашки        </a></div>
    </div>
  </div>
</div>