
<div class="block-top">
  <div class="left-sidebar">
    <div class="close"></div>
    <form class="search">
      <input class="search-inp" type="text" placeholder="поиск"/>
      <button class="search-btn"></button>
    </form>
    <ul class="accordion" id="accordion-1">
      <li class="menu-mobile"><a href="#"> <span class="text">Главное Меню</span></a>
        <ul>
          <li><a href="/"> <span class="text">о факультете</span></a>
            <ul>
              <li><a href="#"> <span class="text">Абитуриенту</span></a></li>
              <li><a href="#"> <span class="text">студенту</span></a></li>
              <li><a href="#"> <span class="text">Учебно-лабораторная база</span></a></li>
              <li><a href="#"><span class="text">спорт</span></a></li>
              <li><a href="#"><span class="text">наука</span></a></li>
              <li><a href="#"><span class="text">вакансии</span></a></li>
              <li><a href="#"><span class="text">контакты</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span class="text">Абитуриенту</span></a></li>
          <li><a href="#"><span class="text">студенту</span></a></li>
          <li><a href="#"><span class="text">поступающим</span></a></li>
          <li><a href="#"><span class="text">спорт</span></a></li>
          <li><a href="#"><span class="text">наука</span></a></li>
          <li><a href="#"><span class="text">вакансии</span></a></li>
          <li><a href="#"><span class="text">контакты</span></a></li>
        </ul>
      </li>
      <li><a href="#"> <span class="text rasp">Расписание</span></a>
        <ul>
          <li><a href="#"><span class="text">Занятия</span></a></li>
          <li><a href="#"><span class="text">Секции</span></a></li>
          <li><a href="#"><span class="text">Тренировки</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span class="text">заказ справок</span></a>
        <ul>
          <li><a href="#"><span class="text">Заказ справок (Дневное отделение)</span></a></li>
          <li><a href="#"><span class="text">Заказ справок (Заочное отделение)</span></a></li>
          <li><a href="#"><span class="text">Заказ справок-вызовов</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span class="text">Меню</span></a>
        <ul>
          <li><a href="#"><span class="text">Вакансии</span></a></li>
          <li><a href="#"><span class="text">Дневное отделение</span></a></li>
          <li><a href="#"><span class="text">Магистратура</span></a></li>
          <li><a href="#"><span class="text">Ваш вопрос</span></a></li>
          <li><a href="#"><span class="text">Преподавателям</span></a></li>
          <li><a href="#"><span class="text">Библиотека</span></a></li>
          <li><a href="#"><span class="text">Видео</span></a></li>
          <li><a href="#"><span class="text">Фотогалерея</span></a></li>
          <li><a href="#"><span class="text">Выпускникам</span></a></li>
          <li><a href="#"><span class="text">Достижения студентов</span></a></li>
          <li><a href="#"><span class="text">Центр спортивных инициатив</span></a></li>
          <li><a href="#"><span class="text">Спортивный комплекс ННГУ</span></a></li>
          <li><a href="#"><span class="text">Старая версия сайта</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span class="text">Архив новостей</span></a></li>
    </ul>
    <div class="soc">
      <div class="phone"><a class="phone-a" href="tel:+7(831)4323481">+7(831)432-34-81</a><a class="mail-a" href="mailto:kuzmin@fks.unn.ru">kuzmin@fks.unn.ru</a></div>
      <div class="soc-link"><a href="#"><img src="/img/vk.png" alt=""/></a><a href="#"><img src="/img/f.png" alt=""/></a><a href="#"><img src="/img/g.png" alt=""/></a></div>
    </div>
  </div>
  <div class="block-wrap">
    <div class="breadcrumbs"><a href="#">Новости</a>
      <p>/</p><span>Старница</span>
    </div>
    <div class="content">
      <h1>Волейбол</h1>
      <div class="foto-gallery box">
        <div class="gallery" data-src="/img/95.jpg" data-fancybox="images"><img src="/img/95.jpg"/></div>
        <div class="gallery" data-src="/img/DSC00944.jpg" data-fancybox="images"><img src="/img/DSC00944.jpg"/></div>
        <div class="gallery" data-src="/img/P1060119.jpg" data-fancybox="images"><img src="/img/P1060119.jpg"/></div>
        <div class="gallery" data-src="/img/P1070261.jpg" data-fancybox="images"><img src="/img/P1070261.jpg"/></div>
        <div class="gallery" data-src="/img/P1080326.jpg" data-fancybox="images"><img src="/img/P1080326.jpg"/></div>
        <div class="gallery" data-src="/img/P1080333.jpg" data-fancybox="images"><img src="/img/P1080333.jpg"/></div>
        <div class="gallery" data-src="/img/P1234567.jpg" data-fancybox="images"><img src="/img/P1234567.jpg"/></div>
        <div class="gallery" data-src="/img/P11953197.jpg" data-fancybox="images"><img src="/img/P11953197.jpg"/></div>
      </div>
      <h3 style="text-align: center;">Состав женской сборной команды ННГУ 2017</h3>
      <div class="item-box box" style="overflow-y:auto;">
        <table>
          <thead>
            <tr>
              <td>Фамилия Имя</td>
              <td>Факультет                            </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Жиркова Светлана</td>
              <td>ИМОМИ                             </td>
            </tr>
            <tr> 
              <td>2. Базлова Марина</td>
              <td>ФКС                               </td>
            </tr>
            <tr> 
              <td>3. Краснова Анна</td>
              <td>ФКС                                </td>
            </tr>
            <tr> 
              <td>4. Юрченкорва Дарья</td>
              <td>ФСН                               </td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p> <strong>Тренер: Ермилова Анна Вячеславовна</strong></p>
      <h3 style="text-align: center;margin-top: 77px;">Состав женской сборной команды ННГУ 2017</h3>
      <div class="item-box box" style="overflow-y:auto;">
        <table>
          <thead>
            <tr>
              <td>Фамилия Имя</td>
              <td>п/п</td>
              <td>Факультет                                </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Марихин Сергей</td>
              <td>192 </td>
              <td>атакующий защитник</td>
              <td>ФКС                                 </td>
            </tr>
            <tr> 
              <td>2. Погодин Максим</td>
              <td>189</td>
              <td>форвард</td>
              <td>ФКС                                                               </td>
            </tr>
            <tr> 
              <td>3. Иванов Игнат</td>
              <td>195</td>
              <td>центровой</td>
              <td>ФКС выпускник                                </td>
            </tr>
            <tr> 
              <td>4. Юнисов Артём</td>
              <td>185</td>
              <td>атакующий защитник</td>
              <td>ФКС                                </td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
            <tr> 
              <td>line 1</td>
              <td>line 2</td>
              <td>line 3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>