
<div class="colleague">
  <div class="main-contain-colleague">
    <div class="main-container-colleague">
      <div class="txt-robo">Мои коллеги </div>
      <div class="colleague-info">
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc1.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc2.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc3.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc4.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc5.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc6.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc7.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc8.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc9.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc10.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc11.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
        <div class="inf">
          <div class="img" style="background-image: url(../img/doc12.png);"></div>
          <div class="text-inf">
            <div class="txt-robo">Березин Павел Владимирович.</div>
            <p>Ортопед </p>
            <ul>
              <li><a class="txt-link" href="#"> читать далее</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>